.make {
  /* ============ */
  // main sections
  /* ============ */
  &__section {
    background: $section-grey;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
  }

  /* ================= */
  // The tabs for navigation
  /* ================= */
  &__tab {
    &-outerdiv {
      margin-top: 3rem;
    }
  }

  /* =============== */
  // header
  /* =============== */
  &__header {
    /* ---------------- */
    //  the div wrapping header and the button
    /* ---------------- */
    &-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    /* ---------------- */
    //  the title of the header
    /* ---------------- */
    &-title {
      font-family: $roboto;
      font-size: 2.5rem;
    }
  }

  &__table {
    /* ==================== */
    // Every make table
    /* ==================== */
    // make the text go to next line instead of just overflow hidden and ellipsis
    .ant-table-cell {
      white-space: normal !important;
    }
  }

  /* ======================= */
  // Brand
  /* ======================= */
  &__brand {
    /* ------------- */
    // btn
    /* ------------- */
    &-btn {
      padding: 0.5rem 2rem !important;
      @include shadow-func(0, 0.2rem, 0.5rem, 0.1rem, rgba(0, 0, 0, 0.425));

      // edit button
      &--edit {
        color: #1890ff !important;
        // border-color: rgb(153, 180, 219) !important;

        &:hover {
          color: darken(#1890ff, 10%) !important;
        }

        &:active {
          transition: none;
          color: #1890ff !important;
        }
      }
    }
  }

  /* ============ */
  // form
  /* ============ */
  &__form {
    /* ---------- */
    // the category item
    /* ---------- */
    &-item {
      /* for create make overwrite label width */
      &--make {
        margin-bottom: 0.5rem !important;
        & label {
          width: 11rem !important;
        }
      }

      // remove the colon from the inch form input
      &--inch {
        & .ant-form-item-control-input:before {
          // content: none !important;
        }
      }

      label {
        width: 9rem;
      }

      .ant-form-item-label > label::after {
        // content: '' !important;
      }

      // add colon before the form input
      .ant-form-item-control-input:before {
        // content: ':' !important;
        // top: 0 !important;
        // position: absolute;
        // margin-right: 1rem;
        // @include respond-to(mobile) {
        //   content: none !important;
        //   margin-right: 0;
        // }
      }

      // push to right abit for error message
      .ant-form-item-explain.ant-form-item-explain-error {
        margin-left: 1.3rem;
        @include respond-to(mobile) {
          content: none !important;
          margin-left: 0;
        }
      }
      // same thing applies to success message
      .ant-form-item-explain.ant-form-item-explain-success {
        margin-left: 1.3rem;
        @include respond-to(mobile) {
          content: none !important;
          margin-left: 0;
        }
      }
    }
  }
  /* ================================== */
  // the details column under make
  /* ================================== */
  &__details {
    /* ---------- */
    // the category on the left
    /* ---------- */
    &-category {
      color: $primary-color-3;
      font-family: $opensans;
    }
    /* ------------------------------ */
    // the left div of details
    /* ------------------------------ */
    &-left {
      width: 11rem;
    }

    // the value column on the right
    &-right {
      margin-left: 1rem;
      white-space: initial;
      width: 17rem;
    }
  }

  /* ======================== */
  // For preview images
  /* ======================== */
  &__preview {
    display: flex;
    overflow-x: auto;
    position: relative;
    padding: 2rem;
    background: $section-grey;

    /* ------------------- */
    // The button and label for upload
    /* ------------------- */
    &-btn {
      &-div {
        margin-top: 1.5rem;
      }
    }
    /* ---------------------------- */
    // innerdiv wrapping the badges
    /* ---------------------------- */
    &-innerdiv {
      margin-right: 2rem !important;
    }

    &-title {
      &-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
    }

    /* ---------------------- */
    // each image item
    /* ---------------------- */
    &-item {
      width: 15rem;
      min-width: 15rem;
      height: 13rem;
      border: 1px solid $primary-color-4;
    }

    /* -------------------- */
    // the 'x' icon
    /* -------------------- */
    &-closeicon {
      color: $primary-color-3 !important;
      background: white;
      border-radius: 50%;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
        color: $primary-color-1 !important;
      }

      &:active {
        color: $primary-color-3 !important;
      }
    }
  }
}
