.make {
  /* ============ */
  // main sections
  /* ============ */
  &__section {
    // background: $section-grey;
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
    @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));
    @include glassMorph(rgba(255, 255, 255, 0.151), 20px, rgba(255, 255, 255, 0.111), 1rem);

    /* ------------------------------ */
    // top part section for two tables
    /* ------------------------------ */
    &-top {
      display: flex;
      @include respond-to($small-phone) {
        flex-direction: column;
      }
      @include respond-to($phone-only) {
        flex-direction: column;
      }
      @include respond-to($tablet-portrait-up) {
        flex-direction: column;
      }
      @include respond-to($tablet-landscape-up) {
        flex-direction: row;
      }
      &-left {
        @include respond-to($small-phone) {
          width: 100%;
        }
        @include respond-to($phone-only) {
          width: 100%;
        }
        @include respond-to($tablet-portrait-up) {
          width: 100%;
        }
        @include respond-to($tablet-landscape-up) {
          width: 50%;
        }
      }

      &-right {
        @include respond-to($small-phone) {
          width: 100%;
        }
        @include respond-to($phone-only) {
          width: 100%;
        }
        @include respond-to($tablet-portrait-up) {
          width: 100%;
        }
        @include respond-to($tablet-landscape-up) {
          width: 50%;
        }
      }
    }
  }

  /* ================= */
  // The tabs for navigation
  /* ================= */
  &__tab {
    &-outerdiv {
      // margin-top: 3rem;
      min-height: 100vh;
      padding-bottom: 2rem;
      padding-top: $navbar-height;

      @include respond-to($small-phone) {
        padding-top: 8rem;
      }
    }
  }

  /* =============== */
  // header
  /* =============== */
  &__header {
    /* ---------------- */
    //  the div wrapping header and the button
    /* ---------------- */
    &-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      @include respond-to($small-phone) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    /* ---------------- */
    //  the title of the header
    /* ---------------- */
    &-title {
      font-family: $font-bebasneue;
      font-size: 2.5rem;
      background: rgb(255, 255, 255);
      border-right: 5px solid $primary-color-3;
      padding: 0.5rem 5rem;
    }
  }

  &__table {
    & .ant-table-body {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
        height: 0.5rem !important;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary-color-3 !important;
        border-radius: 1rem !important;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $secondary-color-2 !important;
      }
    }
    /* ==================== */
    // Every make table
    /* ==================== */
    // make the text go to next line instead of just overflow hidden and ellipsis
    .ant-table-cell {
      white-space: normal !important;
    }
  }

  /* ======================= */
  // Brand
  /* ======================= */
  &__brand {
    /* ------------- */
    // btn
    /* ------------- */
    &-btn {
      padding: 0.5rem 2rem !important;
      @include shadow-func(0, 0.2rem, 0.5rem, 0.1rem, rgba(0, 0, 0, 0.425));

      // edit button
      &--edit {
        color: #1890ff !important;
        // border-color: rgb(153, 180, 219) !important;

        &:hover {
          color: darken(#1890ff, 10%) !important;
        }

        &:active {
          transition: none;
          color: #1890ff !important;
        }
      }
    }

    /* Title for the brand in the craete/update series modal */
    &-series {
      &-title {
        font-family: $font-roboto;
        font-weight: bolder;
        color: $primary-color-3;
      }
    }
  }

  /* ============ */
  // form
  /* ============ */
  &__form {
    /* ---------- */
    // the category item
    /* ---------- */
    &-item {
      flex-wrap: nowrap !important;

      @include respond-to($small-phone) {
        flex-wrap: wrap !important;
      }

      /* for create make overwrite label width */
      &--make {
        margin-bottom: 0.5rem !important;
        & label {
          width: 11rem !important;
        }
      }

      &--inch {
        @include respond-to($small-phone) {
          & .ant-form-item-control-input {
            margin-top: auto;
          }
        }
      }

      label {
        min-width: 9rem;
      }

      // push to right abit for error message
      .ant-form-item-explain.ant-form-item-explain-error {
        margin-left: 1.3rem;
        @include respond-to($small-phone) {
          content: none !important;
          margin-left: 0;
        }
      }
      // same thing applies to success message
      .ant-form-item-explain.ant-form-item-explain-success {
        margin-left: 1.3rem;
        @include respond-to($small-phone) {
          content: none !important;
          margin-left: 0;
        }
      }
    }

    // left side of the forms
    &-left {
      width: 50%;
      padding-right: 2rem;
    }

    // right side of the forms
    &-right {
      width: 50%;
      padding-left: 1rem;
    }
  }
  /* ================================== */
  // the details column under make
  /* ================================== */
  &__details {
    /* ---------- */
    // the category on the left
    /* ---------- */
    &-category {
      color: $primary-color-3;
      font-family: $font-opensans;
    }
    /* ------------------------------ */
    // the left div of details
    /* ------------------------------ */
    &-left {
      white-space: initial;
      width: 11rem;
    }

    // the value column on the right
    &-right {
      margin-left: 1rem;
      white-space: initial;
      width: 12rem;
    }

    // The outer collapsible div
    &-collapse {
      & .ant-collapse-content-box {
        border: 1px solid $translucent-grey;
      }
    }

    // the collapsible panel inside
    &-panel {
      & .ant-collapse-header {
        padding: 0.5rem 0 0 0 !important;

        color: $link-blue !important;
      }
    }
  }

  /* ======================== */
  // For preview images
  /* ======================== */
  &__preview {
    display: flex;
    overflow-x: auto;
    position: relative;
    padding: 2rem;
    background: $section-grey;

    /* ------------------- */
    // The button and label for upload
    /* ------------------- */
    &-btn {
      &-div {
        margin-top: 1.5rem;
      }
    }
    /* ---------------------------- */
    // innerdiv wrapping the badges
    /* ---------------------------- */
    &-innerdiv {
      margin-right: 2rem !important;
    }

    &-title {
      &-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
    }

    /* ---------------------- */
    // each image item
    /* ---------------------- */
    &-item {
      width: 15rem;
      min-width: 15rem;
      height: 13rem;
      border: 1px solid $primary-color-4;
    }

    /* -------------------- */
    // the 'x' icon
    /* -------------------- */
    &-closeicon {
      color: $primary-color-3 !important;
      background: white;
      border-radius: 50%;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
        color: $primary-color-1 !important;
      }

      &:active {
        color: $primary-color-3 !important;
      }
    }
  }
  /* ======================= */
  // the modal section
  /* ======================= */
  &__modal {
    &-title {
      &--card {
        color: $primary-color-4;
        font-family: $font-firesans;
        font-weight: bolder;
      }
    }
  }

  /* ======================= */
  // the expand section
  /* ======================= */
  &__expand {
    &-title {
      color: $primary-color-4;
      font-family: $font-firesans;
      font-weight: bolder;
    }

    // outerdiv for the whole expand row
    &-outerdiv {
      display: flex;
      overflow-x: auto;
      padding-bottom: 1rem;
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-color-3;
        border-radius: 6px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primary-color-1;
      }
    }

    /* ----------------------------- */
    // the available text
    /* ----------------------------- */
    &-available {
      color: $primary-color-3;
      font-family: $font-roboto;
    }
    /* ----------------------------- */
    // the div for empty component
    /* ----------------------------- */
    &-empty {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    /* ----------------------------- */
    // card for accessories
    /* ----------------------------- */
    &-card {
      font-size: 1.2rem !important;
      min-width: 20rem;
      max-width: 20rem;
      box-shadow: $bottom-shadow;

      &:not(:last-child) {
        margin-right: 1rem;
      }
      /* the title of the card */
      &-title {
        text-transform: capitalize;
        font-size: 1.4rem;
        font-family: $font-firesans;
        color: $primary-color-4;
        // div of the title
        &-div {
          display: flex;
          justify-content: space-between;
        }
      }

      // the images within the carousel and card
      &-img {
        object-fit: cover !important;
        width: 100%;
        height: 12rem;
      }
      // the body of the card
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 9rem;
      }

      // The categories e.g. price and description within the card
      &-category {
        color: $primary-color-3;
      }
      // The div of description
      &-description {
        padding: 0.5rem;
        height: 100%;
        &::-webkit-scrollbar {
          width: 2.5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary-color-3;
          border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color-1;
        }
        /* ----------------------------- */
        // the right column of description
        /* ------------------------------- */
        &-right {
          height: 4rem;
          overflow-y: auto;
          width: 100%;
          &::-webkit-scrollbar {
            width: 2.5px;
          }
          &::-webkit-scrollbar-thumb {
            background: $primary-color-3;
            border-radius: 6px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: $primary-color-1;
          }
        }
      }
      /* ----------------------------- */
      // The two edit and delete buttons
      /* ----------------------------- */
      &-btn {
        // the whole section wrapping the horizontal line and buttons
        &-section {
          width: 100%;
        }
        // outerdiv for the two  buttons
        &-div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 1rem;
          border-top: 1px solid rgba($translucent-grey, 0.3);
        }
        // the edit link button
        &-edit {
          margin-right: 1rem;
          color: #1890ff !important;
          &:hover {
            color: darken(#1890ff, 10%) !important;
          }
          &:active {
            transition: none;
            color: #1890ff !important;
          }
        }
      }
      /* ============================ */
      // the body within the card
      /* ============================ */
      & .ant-card-body {
        display: flex;
        // height: 19.5rem;
        flex-direction: column;
        position: relative;
        padding: 0.5rem 0.5rem 0 0.5rem !important;
      }

      /* ========================== */
      // div of the card title
      /* ========================== */
      & .ant-card-head-title {
        padding: 0.5rem 0 !important;
      }

      &.ant-card-small > .ant-card-head {
        min-height: auto;
      }
    }
  }
}
