.navbar {
  // only changing the bg primary of navbar
  &__outerdiv {
    position: absolute;
    transition: all 0.5s ease;
    width: 100%;
    z-index: $navbar;
    border-bottom: 1px solid $translucent-grey;
    @include shadow-func(0, 0.1rem, 1rem, 0.05rem, rgba(0, 0, 0, 0.15));
    & .bg-primary {
      background: white !important;
      // @include glassMorph(rgba($primary-color-4, 0.342), 10px, rgba(255, 3, 3, 0.137), 0);
      // @include glassMorph(
      //   $frontLayerColor: rgb(213, 213, 213),
      //   $blur: 20px,
      //   $secondLayerColor: rgba($primary-color-4, 0.356),
      //   $borderRadius: 0
      // );
      // main background
      // background: none !important;
      // background: $primary-color-4 !important;
    }

    // set style for all the a tag
    & a {
      text-decoration: none !important;
    }
  }

  &__div {
    display: flex !important;
    justify-content: space-between !important;
    @include respond-to($small-phone) {
      // min-height: 10vh;
      padding: 0.5rem 1rem !important;
    }
    @include respond-to($phone-only) {
      // min-height: 10vh;
      padding: 0.5rem 5rem !important;
    }
    @include respond-to($tablet-portrait-up) {
      // min-height: 10vh;
      padding: 0.5rem 5rem !important;
    }
  }

  &__logo {
    cursor: pointer;
    width: 15rem;
    border-radius: 0.5rem;
    margin-right: 3rem !important;
    object-fit: cover;
    @include respond-to($small-phone) {
      width: 20vw;
      margin-right: 0 !important;
    }
    @include respond-to(phone-only) {
      width: 20vw;
    }
    @include respond-to(tablet-portrait-up) {
      width: 10rem;
    }
    @include respond-to(tablet-landscape-up) {
      width: 15rem;
    }

    &:hover {
      transition: all 0.3s ease;
      // background: rgb(228, 228, 228);
    }
    &:active {
      transition: none;
      // background: rgb(255, 255, 255);
    }
  }

  &__item {
    background: $primary-color-3;
    padding: 1.8rem 4rem 1.8rem 4rem !important;

    &-menu {
      & .ant-menu-item-selected {
        background: $primary-color-4 !important;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100% !important;
    // background: red;

    & .active {
      // the background when the nav items is active
      // background: $secondary-color-1;
      border-radius: 0.5rem;
      & .navbar__link {
        color: $soft-red;
      }
    }

    @include respond-to($small-phone) {
      display: none !important;
    }
    @include respond-to($phone-only) {
      display: none !important;
    }
    @include respond-to($desktop-up) {
      display: flex !important;
      justify-content: flex-end;
    }
  }

  &__link {
    // the link itself
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: $font-poppins;
    // font-weight: bolder;
    color: rgba(black, 0.5);
    cursor: pointer;
    &:hover {
      color: black;
    }

    @include respond-to($small-phone) {
      font-size: 1.3rem !important;
    }
    @include respond-to($phone-only) {
      font-size: 1.3rem !important;
    }
    @include respond-to($tablet-portrait-up) {
      font-size: 1.5rem !important;
    }
    @include respond-to($desktop-up) {
      font-size: 1.5rem !important;
    }
    // div of the nav links
    &-div {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      margin: 0 0.4rem;
      font-family: $font-pragati;
      &:hover {
        transition: all 0.5s ease;
        // background: $secondary-color-1;
        // @include alpha-attribute('background', rgba($secondary-color-1, 0.5), white);
        border-radius: 0.5rem;
      }

      @include respond-to($small-phone) {
        // font-size: 1.2rem !important;
        padding: 0.5rem 0;
      }
      @include respond-to(phone-only) {
        // font-size: 1.2rem !important;
        padding: 0.5rem 0;
      }
      @include respond-to(tablet-portrait-up) {
        margin: 0.3rem 0;
        padding: 0 1rem;
      }
    }

    &-outerdiv {
      display: flex;
    }
  }

  &__dropdown {
    &-item {
      font-size: 1.5rem !important;
    }

    &-link {
      text-decoration: none !important;
    }

    &-menu {
      padding: 0 !important;
      border: none !important;
      font-family: $font-bebasneue;
      font-size: 1.6rem !important;

      & li {
        height: 30px !important;
        line-height: 32px !important;
        margin: 0 !important;
        outline: none !important;
        min-width: 14rem !important;
        &:hover {
          background: rgba($primary-color-1, 0.15) !important;
          border-right: 3px solid $primary-color-3 !important;
        }
      }
    }
  }

  &__left {
    &-div {
      // hide the nav items on desktop below
      @include respond-to($small-phone) {
        display: none;
      }
      @include respond-to($phone-only) {
        display: none;
      }
      @include respond-to($desktop-up) {
        display: flex;
        margin-right: 2rem;
      }
    }
  }

  /* ========================= */
  // the right div of the navbar
  /* ======================== */

  &__right {
    &-div {
      display: flex;
      align-items: center;
      @include respond-to($small-phone) {
        display: none;
        flex-direction: column;
        border-top: 1px solid $translucent-grey;
        margin-top: 1rem;
        padding-top: 1rem;
      }
      @include respond-to(phone-only) {
        display: none;
        flex-direction: column;
        border-top: 1px solid $translucent-grey;
        margin-top: 1rem;
        padding-top: 1rem;
      }
      @include respond-to($tablet-portrait-up) {
        display: none;
        flex-direction: row;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
      @include respond-to($desktop-up) {
        display: flex;
        flex-direction: row;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  /* ================ */
  // user role
  /* ================ */
  &__role {
    &-title {
      color: white;
      background: $primary-color-3;
      border: 1px solid white;
      border-radius: 0.5rem;
      margin-right: 1rem;
    }
  }

  /* ====================== */
  // the 3 line bars/ hamburger icon
  /* ====================== */
  &__bars {
    // hide bars icon on desktop screen
    // ICON
    &-icon {
      position: relative;
      cursor: pointer;
      color: $primary-color-4;

      // creating siblings bar
      &,
      &::before,
      &::after {
        display: inline-block;
        width: 2.5rem;
        height: 2.5px;
        border-radius: 1px;
        background-color: $primary-color-4;
        @include respond-to($small-phone) {
          height: 1.8px;
          width: 2rem;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
        @include respond-to($small-phone) {
          top: -0.6rem;
        }
      }
      &::after {
        top: 0.8rem;
        @include respond-to($small-phone) {
          top: 0.6rem;
        }
      }
    }

    &-div {
      padding: 1.7rem 0.8rem;
      border-radius: 5px;
      cursor: pointer;
      z-index: $navbar;
      background: white !important;

      &:hover {
        transition: all 0.3s ease;
        background: $secondary-color-1;
      }
      &:active {
        transition: none;
        background: $primary-color-2;
      }
      align-items: center;

      @include respond-to($small-phone) {
        display: flex;
        align-items: center;
        padding: 1.3rem 0.6rem;
      }
      @include respond-to($phone-only) {
        display: flex;
        align-items: center;
      }
      @include respond-to($desktop-up) {
        display: none;
      }
    }

    &-checkbox {
      display: none;
      & ~ label {
        margin: 0;
      }
    }
    // when the button is checked, find the span icon and make it transparent
    &-checkbox:checked + &-button &-icon {
      background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &-checkbox:checked + &-button &-icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  &__mobilesidebar {
    position: fixed;
    z-index: $navbar + 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgba($primary-color-4, 0.4);
    // border-right: 2px solid white;

    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color-4 !important;
      border-bottom: 1px solid $primary-color-4 !important;
      padding: 1rem 5rem !important;
    }

    &-bottom {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    &-sider {
      width: 100% !important;
      max-width: 100% !important;
      height: 100% !important;
    }

    &-link {
      text-decoration: none !important;
      &-div {
        background: white;
        color: $primary-color-4 !important;
        & a {
          color: $primary-color-4 !important;
          text-decoration: none !important;
        }
      }
    }

    &-admin {
      background: $primary-color-4;
      color: white;
      padding: 2rem 0;
      text-align: center;
      margin-top: auto;
    }

    &-submenu {
      @include respond-to($small-phone) {
        font-size: 1.3rem !important;
      }
      @include respond-to($phone-only) {
        font-size: 1.3rem !important;
      }
      @include respond-to($tablet-portrait-up) {
        font-size: 1.5rem !important;
      }
      @include respond-to($desktop-up) {
        font-size: 1.8rem !important;
      }
    }
  }

  &__notification {
    &-empty {
      & svg {
        width: 10rem !important;
      }
    }
    &-list {
      padding: 1rem 1rem 0 1rem;

      &-outerdiv {
        max-height: calc(100vh - 15rem);
        min-width: 40rem;
        overflow-y: auto;
        @include customScrollbar(0.3rem, 0.3rem, 1rem, rgba(255, 255, 255, 0.529), white);
      }
    }

    &-title {
      display: block;
      background: $soft-red;
      padding: 0.2rem 3rem 0.2rem 1rem;
      margin-bottom: 0.5rem;
      border-right: 8px solid white;
      border-radius: 0 10rem 0 0;
    }

    &-content {
      margin-top: 1rem;
      padding-left: 1.5rem;
    }
    &-left {
      width: 100%;
      padding-right: 1.5rem;
    }

    &-dot {
      &-outerdiv {
        padding: 0 1rem 0 0;
        display: grid;
        place-items: center;
      }
      background: rgb(88, 160, 214);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }

    &-row {
      display: flex;
      color: white;
      // max-width: 35rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
        border-bottom: 1px dotted white;
      }
    }

    &-date {
      width: 100%;
      display: flex;
      color: rgba(255, 255, 255, 0.686);
      font-size: 1.2rem;
      justify-content: space-between;
    }
  }

  &__icon {
    &-cart {
      font-size: 2.5rem;
      // color: white !important;
      color: rgba(black, 0.5) !important;

      &:hover {
        color: $soft-red !important;
      }

      &--mobile {
        @include respond-to($small-phone) {
          margin-right: 2rem !important;
          display: block !important;
        }
        @include respond-to($phone-only) {
          margin-right: 2rem !important;
          display: block !important;
        }
        @include respond-to($desktop-up) {
          display: none !important;
        }
      }
      &--bell {
        font-size: 2rem;
        margin-left: 1rem;
        padding-top: 0.3rem;
        // margin-right: -2.5rem;
        // padding-right: 2.5rem;
      }
    }
  }
  &__bell {
    &--mobile {
      @include respond-to($small-phone) {
        display: block !important;
      }
      @include respond-to($phone-only) {
        display: block !important;
      }
      @include respond-to($desktop-up) {
        display: none !important;
      }
    }
    &-div {
      margin-right: 1rem;
      cursor: pointer;

      & .ant-popover-inner-content {
        padding: 0 !important;
      }
    }

    &-icon {
      &-title {
        margin-right: 0.5rem;
      }
    }
  }

  &__version {
    &-div {
      font-family: $font-poppins;
      // color: white;
      margin-right: 1rem;
    }
  }

  &__button {
    &-login {
      background: $soft-red;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover {
        transition: all 0.5s ease;
        background: #a03030;
      }
      &:active {
        transition: none;
        background: $soft-red;
      }

      color: white !important;
      @include respond-to($small-phone) {
        font-size: 1.3rem !important;
      }
      @include respond-to($phone-only) {
        font-size: 1.3rem !important;
      }
      @include respond-to($tablet-portrait-up) {
        font-size: 1.5rem !important;
      }
      @include respond-to($desktop-up) {
        font-size: 1.8rem !important;
      }
    }
  }
}
