.navbar {
  // only changing the bg primary of navbar
  &__outerdiv {
    & .bg-primary {
      background-image: linear-gradient(to right, $primary-color-3 60%, rgb(66, 5, 16));
    }
  }

  &__div {
    padding: 2rem 5rem !important;
  }

  &__logo {
    cursor: pointer;
    width: 15rem;
    border-radius: 0.5rem;
    margin-right: 3rem !important;
    object-fit: cover;
    @include respond-to(mobile) {
      width: 7rem;
    }

    &:hover {
      transition: all 0.3s ease;
      // background: rgb(228, 228, 228);
    }
    &:active {
      transition: none;
      // background: rgb(255, 255, 255);
    }
  }

  &__item {
    background: $primary-color-3;
    padding: 1.8rem 4rem 1.8rem 4rem !important;

    &-menu {
      & .ant-menu-item-selected {
        background: $primary-color-4 !important;
      }
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .active {
      // the background when the nav items is active
      // background: $secondary-color-1;
      border-radius: 0.5rem;
      & .navbar__link {
        color: white;
      }
    }
  }

  &__link {
    // the link itself
    color: rgba(white, 0.5);
    cursor: pointer;
    &:hover {
      color: white;
    }

    // div of the nav links
    &-div {
      padding: 0 1rem;
      margin: 0 0.4rem;
      &:hover {
        transition: all 0.5s ease;
        // background: $secondary-color-1;
        // @include alpha-attribute('background', rgba($secondary-color-1, 0.5), white);
        border-radius: 0.5rem;
      }

      @include respond-to(tablet) {
        margin: 0.3rem 0;
      }
    }
  }

  &__dropdown {
    &-item {
      font-size: 1.5rem !important;
    }
  }

  &__left {
    &-div {
      display: flex;
      @include respond-to(mobile) {
        flex-direction: column;
      }
    }
  }

  &__right {
    &-div {
      display: flex;
      @include respond-to(mobile) {
        flex-direction: column;
        border-top: 1px solid $translucent-grey;
        margin-top: 1rem;
        padding-top: 1rem;
      }
    }
  }
}
