.navbar {
  // only changing the bg primary of navbar
  &__outerdiv > .bg-primary {
    background-image: linear-gradient(to right, $primary-color-3 60%, rgb(66, 5, 16));
  }
  &__div {
    padding: 2rem 3rem !important;
  }

  &__logo {
    margin-right: 2rem !important;
  }

  &__wrapper {
    & > .active {
      background: $secondary-color-1;
      border-radius: 0.5rem;
    }
  }

  &__link {
    padding: 0 1rem;
    margin: 0 0.4rem;
    &:hover {
      transition: all 0.5s ease;
      background: $secondary-color-1;
      @include alpha-attribute('background', rgba($secondary-color-1, 0.5), white);
      border-radius: 0.5rem;
    }

    @include respond-to(tablet) {
      margin: 0.3rem 0;
    }

    /* --------------- */
    // the product dropdown, need to add padding to the bottom of the dropdown
    &--product {
      & > .show {
        @include respond-to(tablet) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.dropdown-menu {
  & > a {
    z-index: 1000 !important;
  }
}
