.updatespecificintake {
  &__outerdiv {
    // background: white !important;
    height: 100%;
    // border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  &__div {
    &-registration {
      display: flex;
      width: 100%;
      @include respond-to($small-phone) {
        flex-direction: column;
      }

      @include respond-to($phone-only) {
        flex-direction: column;
      }
      @include respond-to($tablet-portrait-up) {
        flex-direction: row;
      }
    }
  }

  &__title {
    font-family: $font-firesans;
    font-size: 2.3rem;
    padding-left: 1rem;
  }

  &__section {
    &-top {
      padding: 0 2rem;
    }

    /* ============================ */
    // bottom part that contains the task table
    /* ============================ */
    &-bottom {
      position: relative;
      padding: 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        font-family: $font-bebasneue;
        font-size: 2rem;
        &-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      & th {
        white-space: nowrap !important;
        padding: 0 0.5rem 0 1.5rem !important;
      }

      // place holder text
      & .ant-empty-description {
        color: white !important;
      }

      // placeholder when hovered
      & .ant-table-tbody > tr.ant-table-placeholder:hover > td {
        background: rgba(5, 18, 49, 0.575) !important;
      }

      & .ant-table-column-sorters {
        padding: 0.3rem !important;
      }
      & .ant-table-body {
        overflow: auto !important;
        max-height: 21rem !important;
        border-bottom: 1px solid white;
      }

      & tr {
        background: rgb(1, 12, 36) !important;

        &:nth-child(odd) {
          background: rgb(5, 18, 49) !important;
        }
      }

      & td.ant-table-column-sort {
        background: rgb(17, 30, 61) !important;
      }

      // the background color of the row when hovered
      & .ant-table-tbody > tr.ant-table-row:hover > td {
        background: rgb(17, 30, 61) !important;
      }

      & .ant-table-thead > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table tfoot > tr > td {
        overflow-wrap: normal;
      }

      & td {
        color: white;
        border: none !important;
        font-family: $font-firesans !important;
      }

      & .ant-table-cell {
        padding: 0.5rem 1rem 0.5rem 1.5rem !important;
      }

      & .ant-table-thead tr th {
        background: rgb(197, 71, 71) !important;
        font-family: $font-firesans !important;
        height: 10px !important;
        // padding: 0 !important;
      }
    }

    &-description {
      margin-top: 1rem;
      &-outerdiv {
        display: flex;
        align-items: center;
      }
      &-text {
        margin-right: 1rem;
        font-family: $font-pragati;

        @include respond-to($small-phone) {
          font-size: 1.3rem;
        }
        @include respond-to($phone-only) {
          font-size: 1.4rem;
        }
        @include respond-to($tablet-portrait-up) {
          font-size: 2rem;
        }
      }
      &-div {
        border: 1px solid white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background: rgba(94, 96, 100, 0.575);
        width: 100%;
        flex-wrap: wrap;
        word-break: break-all;
        font-size: 1.2rem;
        overflow-y: auto;
        @include customScrollbar(0.2rem, 0.2rem, 1rem, rgba(255, 255, 255, 0.638));
        @include respond-to($small-phone) {
          max-height: 5rem;
        }
        @include respond-to($phone-only) {
          max-height: 5rem;
        }
        @include respond-to($tablet-portrait-up) {
          max-height: 10rem;
        }
      }
    }
  }

  &__row {
    &--registration {
      display: flex;
      justify-content: space-between;

      // set bay dropdown to height 100%
      & .ant-form-item-control-input {
        height: 100%;
      }
      & .ant-form-item-control-input-content {
        height: 100%;
      }
    }
  }

  &__table {
    &-header {
      padding-left: 1rem !important;
    }

    &-column {
      word-break: break-all;
      max-height: 5rem;
      overflow-y: auto;
      @include customScrollbar(0.3rem, 0.3rem, 0.3rem, white);

      &--desc {
        font-size: 1.2rem;
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;

    @include respond-to($small-phone) {
      margin: 0.5rem 0;
      height: 4rem;
      width: 100%;
      &:not(:first-child) {
        margin-left: 0;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    @include respond-to($phone-only) {
      margin: 0.5rem 0;
      height: 4rem;
      width: 100%;
      &:not(:first-child) {
        margin-left: 0;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    @include respond-to($tablet-portrait-up) {
      margin-top: 2rem;
      height: auto;
      margin-bottom: 2rem;
      width: 33.33%;
      &:not(:first-child) {
        margin-left: 1rem;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    /* ------------------------------------- */
    // dock
    /* ------------------------------------- */

    &--dock {
      background: rgb(17, 30, 61) !important;
    }

    &--status {
      background: rgb(17, 30, 61) !important;
    }

    &--users {
      background: rgb(17, 30, 61) !important;
    }

    &-outerdiv {
      display: flex;
      justify-content: space-between;

      /* ===================================== */
      // push box to stack on each other on smaller screen
      /* ===================================== */
      @include respond-to($small-phone) {
        flex-direction: column;
        margin-top: 1rem;
      }
      @include respond-to($phone-only) {
        margin-top: 1rem;
        flex-direction: column;
      }
      @include respond-to($tablet-portrait-up) {
        flex-direction: row;
      }
    }

    &-icon {
      font-size: 2rem;
      color: rgb(17, 30, 61) !important;
    }

    &-left {
      border-right: 1px solid white;
      height: 100%;
      background: white;
      border-radius: 0.9rem 0 0 0.9rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-right {
      display: grid;
      place-items: center;
      font-family: $font-firesans;
      width: 100%;

      @include customScrollbar();
      overflow-y: auto;
      @include respond-to($small-phone) {
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;
      }
      @include respond-to($phone-only) {
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;
      }
      @include respond-to($tablet-portrait-up) {
        min-height: 10rem;
        max-height: 12.5rem;
      }
      &--users {
        padding: 0.3rem 0.3rem 0.3rem 0;
        overflow: hidden;
      }

      &--time {
        display: flex;

        @include respond-to($small-phone) {
          flex-direction: row;
        }
        @include respond-to($phone-only) {
          flex-direction: row;
        }
        @include respond-to($tablet-portrait-up) {
          flex-direction: column;
        }

        &-left {
          @include respond-to($small-phone) {
            margin-right: 1rem;
          }
          @include respond-to($phone-only) {
            margin-right: 1rem;
          }
          @include respond-to($tablet-portrait-up) {
            margin: 0;
          }
        }
      }
    }
  }

  &__button {
    &-task {
      color: white;
      border: 1px solid white;
      border-radius: 0.5rem !important;
      padding: 0.5rem 1.1rem !important;
      cursor: pointer;
      font-size: 1.5rem !important;
      margin-left: auto;
      &--delete {
        background: $primary-color-3;
        margin-right: 1rem;
        &:hover {
          background: $primary-color-2;
        }
        &:active {
          background: $primary-color-3;
        }

        &-text {
          @include respond-to($small-phone) {
            display: none;
          }
          @include respond-to($phone-only) {
            display: none;
          }
          @include respond-to($tablet-portrait-up) {
            display: inline-block;
          }
        }
      }

      &--cancel {
        margin-right: 1rem;
        font-family: $font-firesans;
        &:hover {
          background: $form-items-grey;
        }
      }

      &--save {
        padding: 0rem 1.5rem !important;
        height: 3.5rem !important;
        margin-top: 0.5rem;
        color: white !important;
        font-family: $font-firesans;
        background: rgb(31, 92, 157) !important;
        &:hover {
          border-color: white !important;
          background: rgb(39, 108, 182) !important;
        }
        &:not(:hover) {
          border-color: white !important;
        }
        &:active {
          background: rgb(31, 92, 157) !important;
        }
      }

      &--edit {
        padding: 0.5rem 0.9rem;
        font-family: $font-firesans;
        background: rgb(31, 92, 157);
        &:hover {
          background: rgb(39, 108, 182);
        }
        &:active {
          background: rgb(31, 92, 157);
        }
      }
    }

    &-logs {
      margin-right: 1rem;
      border: 1px solid white;
      width: 3.5rem;
      height: 3.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        transition: all 0.3s ease;
        background: rgb(39, 59, 100);
      }

      @include respond-to($small-phone) {
        display: grid;
      }
      @include respond-to($phone-only) {
        display: grid;
      }
      @include respond-to($tablet-landscape-up) {
        display: none;
      }
    }

    &-div {
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  /* ============================= */
  // form related css
  /* ============================= */
  &__form {
    height: 100%;

    // the description
    &-input {
      height: 2.5rem !important;
      font-size: 1.2rem !important;
      color: white !important;
      background: $form-items-grey !important;

      // description but for intake
      &--intakedesc {
        padding: 1rem !important;
        font-family: $font-firesans;
        width: 100% !important;

        @include respond-to($small-phone) {
          font-size: 1.3rem !important;
          height: 3rem !important;
        }
        @include respond-to($phone-only) {
          font-size: 1.4rem !important;
          height: 3rem !important;
        }
        @include respond-to($tablet-portrait-up) {
          font-size: 1.5rem !important;
          height: 4rem !important;
        }
      }
    }
    &-checkbox {
      margin: 0 !important;
      font-family: $font-firesans;
      & label {
        color: white !important;
      }
    }

    &-item {
      /* ----------------------------- */
      // registration form item
      /* ----------------------------- */
      &--registration {
        margin: 0 !important;
        font-family: $font-dmsans !important;
        color: rgb(1, 12, 36);
        width: 100%;

        &-input {
          padding: 0.5rem 1rem;
          font-weight: bolder !important;
          text-transform: uppercase;
          @include respond-to($small-phone) {
            font-size: 1.3rem !important;
          }
          @include respond-to($phone-only) {
            font-size: 1.4rem !important;
          }
          @include respond-to($tablet-portrait-up) {
            font-size: 2rem !important;
          }

          &::placeholder {
            font-family: $font-firesans;
            font-weight: normal;
            text-transform: none;

            @include respond-to($small-phone) {
              font-size: 1.3rem !important;
            }
            @include respond-to($phone-only) {
              font-size: 1.4rem !important;
            }
            @include respond-to($tablet-portrait-up) {
              font-size: 2rem !important;
            }
          }
        }
        & .ant-input:hover {
          border: 1px solid white !important;
        }
      }

      &--bay {
        @include respond-to($small-phone) {
          margin-top: 1rem !important;
          margin-bottom: 0 !important;
        }

        @include respond-to($phone-only) {
          margin-bottom: 0 !important;
          margin-top: 1rem !important;
        }
        @include respond-to($tablet-portrait-up) {
          height: 100% !important;
          margin: 0 !important;
        }
      }
      /* ----------------------------- */
      // intake form item
      /* ----------------------------- */
      &--intake {
        width: 90% !important;

        @include respond-to($small-phone) {
          max-width: 100% !important;
        }
        @include respond-to($phone-only) {
          max-width: 100% !important;
        }
        @include respond-to($tablet-portrait-up) {
          width: 90% !important;
          max-width: 17rem !important;
        }

        & .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
          border-color: white !important;
        }
        &
          .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
          .ant-select-selector {
          border-color: rgba(255, 255, 255, 0.618) !important;
        }
      }

      &--task {
        & .ant-form-item-explain.ant-form-item-explain-error {
          font-size: 1rem !important;
        }
        // padding-left: 1rem !important;
        & .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
          border-color: white !important;
        }
        &
          .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
          .ant-select-selector {
          border-color: rgba(255, 255, 255, 0.618) !important;
        }

        & .ant-input:hover {
          border-color: white !important;
        }
        & .ant-input:focus {
          border-color: rgba(255, 255, 255, 0.534) !important;
        }
        & .ant-input:not(:hover) {
          border-color: white !important;
        }
      }

      /* ----------------------------- */
      // users form item
      /* ----------------------------- */
      &--users {
        width: 90% !important;
        overflow: hidden !important;

        @include respond-to($small-phone) {
          max-width: 100% !important;
          // overflow: auto;
          overflow: hidden !important;
          height: 3.4rem;
          // @include customScrollbar();
        }
        @include respond-to($phone-only) {
          overflow: hidden !important;
          max-width: 100% !important;
          // overflow: auto;
          height: 3.4rem;
          // @include customScrollbar();
        }
        @include respond-to($tablet-portrait-up) {
          width: 90% !important;
          height: auto;
          padding: 1rem 0 !important;
          max-width: 17rem !important;
        }

        & .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
          border-color: white !important;
          overflow: hidden !important;
        }

        & .ant-select-selection-overflow {
          display: flex !important;
          overflow-y: hidden !important;
          flex-wrap: nowrap;
          @include customScrollbar(0.3rem, 0.3rem, 0.5rem, white);
          width: 1rem !important; //not sure how this is working
        }
        &
          .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
          .ant-select-selector {
          border-color: rgba(255, 255, 255, 0.618) !important;
        }
      }
    }
  }

  /* ============================== */
  // select dropdown for bay
  /* ============================== */
  &__select {
    // general styling for select dropdown
    & .ant-select-selector {
      color: white !important;
      background: $form-items-grey !important;
      height: 100% !important;
    }
    & .ant-select-selection-search-input {
      height: 100% !important;
    }

    & .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
    & .ant-select-arrow {
      color: white !important;
    }

    & .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-color: rgba(255, 255, 255, 0.618) !important;
    }

    /* ---------------------- */
    // disabled select dropdown styling
    /* ---------------------- */
    &--disabled {
      & .ant-select-selector {
        background: rgb(31, 31, 31) !important;
        height: 100% !important;

        & .ant-select-selection-placeholder {
          color: rgb(107, 107, 107) !important;
        }
      }
    }

    /* ============================= */
    // dropdown for bay
    /* ============================= */
    &--bay {
      width: 5rem;
      height: 100% !important;
      & .ant-select-selector {
        color: white !important;
        background: rgb(197, 71, 71) !important;
        height: 100% !important;
      }
      & .ant-select-selection-search-input {
        height: 100% !important;
      }

      & .ant-select-selection-item {
        display: flex;
        align-items: center;
      }
      & .ant-select-arrow {
        color: white !important;
      }
    }

    &--task {
      height: 2.5rem;
      font-size: 1.2rem !important;
    }
  }

  &__bay {
    &-div {
      background: rgb(197, 71, 71) !important;
      border: 1px solid rgba(255, 255, 255, 0.583);
      padding: 1rem;
      min-width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
  }
  &__registration {
    &-div {
      text-align: center;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-transform: uppercase;
      background: white;
      font-family: $font-dmsans;
      font-weight: bolder;
      color: rgb(1, 12, 36);
      font-size: 2rem;
      // padding: 0.5rem 3rem;
      padding: 0.8rem 1rem 0rem 1rem;
      width: 100%;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      // &--normaluser {
      //   background: none;
      //   padding: 0;
      //   color: white;
      // }
    }

    &-outerdiv {
      &--normaluser {
        display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        width: 100%;
      }
    }
  }

  &__nav {
    &-outerdiv {
      display: flex;
      padding: 1rem;
      margin-bottom: 0.5rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__lastupdated {
    &-div {
      display: flex;
      justify-content: flex-end;
      font-size: 1.2rem;
      margin-top: 1rem;
      font-family: $font-roboto;
    }
  }

  //   green or red circle
  &__pickup {
    &-div {
      display: flex;
      align-items: center;
      font-family: $font-firesans;
    }
    &-circle {
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      margin-left: 1rem;
      //   border: 1px solid white;
      &--red {
        background: rgb(255, 78, 78);
      }

      &--green {
        background: rgb(65, 237, 65);
      }
    }
  }

  &__back {
    cursor: pointer;
    transition: all 0.5s ease;
    background: #679689;
    border: 1px solid white;
    margin-left: 1rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-family: $font-bebasneue;
    &:hover {
      background: #2d6a58;
    }

    &-text {
      font-size: 1.8rem;
      margin-top: 3px;
    }

    & i {
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
  }

  &__loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    &-outerdiv {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30rem;
      height: 100%;
      background: rgb(1, 12, 36) !important;
    }

    & div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $primary-color-3;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    & div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    & div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    & div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    & div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }

  /* ================================= */
  // history logs
  /* ================================= */
  &__logs {
    &-title {
      background: $soft-red;
      color: white;
      padding: 1rem;
      font-family: $font-firesans;
      font-size: 1.8rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-icon {
      cursor: pointer;
      &:hover {
        & .fa-times-circle {
          transition: all 0.5s ease;
          color: rgb(186, 186, 186);
        }
      }

      & .active {
        & .fa-times-circle {
          transition: none;
          color: white;
        }
      }
    }

    &--mobile {
      position: fixed;
      z-index: 1000;

      background: $dark-blue-2;
      left: 50%;
      border-radius: 1rem;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid white;
      @include shadow-func(1px, 3px, 15px, 0.5px, rgba(255, 255, 255, 0.433));

      @include respond-to($small-phone) {
        width: 90vw;
        height: 90vh;
      }
      @include respond-to($phone-only) {
        width: 80vw;
        height: 90vh;
      }
    }
  }

  &__add {
    &-div {
      // position: fixed;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.5rem;
      // left: 50px;
      // bottom: 0;
    }

    &-button {
      cursor: pointer;
      user-select: none;
      font-size: 1.2rem !important;
      // height: 2.5rem !important;
      // padding-top: 0 !important;
      padding: 0.3rem 1rem 0.3rem 1rem !important;
      // padding-bottom: 0 !important;
      border: 1px solid white !important;
      // background: $secondary-color-1 !important;

      &:hover {
        background: $form-items-grey;
      }

      &:active {
        background: none;
      }
    }
  }
  &__form {
    &-item {
      margin: 0 !important;
    }
  }
}

.ant-select-item {
  font-size: 1.2rem !important;
  color: rgba(255, 255, 255, 0.507) !important;
}

.ant-select-dropdown {
  background: $form-items-grey !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled).ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: $soft-red !important;
  color: white !important;
  & svg {
    fill: white !important;
  }
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  & svg {
    fill: white !important;
  }
  color: white !important;
  background: $soft-red !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: #6a6a6a87 !important;
  color: white !important;
}
