.orders {
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 1rem 0;
    padding-bottom: 5rem;

    &-outerdiv {
      width: auto;
      margin-top: 2rem;
      padding: 2rem;
      // padding-top: $navbar-height;
      @include glassMorph(rgba(255, 255, 255, 0.05), 20px, rgba(97, 97, 97, 0.118), 1rem);
      @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));

      @include respond-to(phone-only) {
        padding-top: 60px; //height of navbar
      }
    }
  }

  &__total {
    &-text {
      color: $primary-color-4;
      font-family: $font-anton;
    }

    // the div holding the total items
    &-items {
    }
  }

  /* ========================== */
  // overview section related css
  /* ========================== */
  &__overview {
    &-title {
      font-size: 3rem;
      font-family: $font-firesans;
    }

    // the list of items
    &-list {
      // list-style: inside;
      list-style-type: lower-roman;
      & li:hover {
        transition: all 0.5 ease;
        background: rgba($primary-color-4, 0.15);
        cursor: default;
      }
    }

    // each row of orders
    &-row {
      display: flex;
      width: 100%;

      @include respond-to(phone-only) {
        flex-direction: column;
      }

      // most outerdiv
      &-outerdiv {
        // background: $primary-color-4;
        // border-top-left-radius: 10rem;
        // border-top-right-radius: 10rem;
        // border-bottom-right-radius: 10rem;
        // border: 1px solid $primary-color-4;
        // padding: 5rem;
        &:not(:first-child) {
          padding-top: 5rem;
        }
        &:not(:last-child) {
          padding-bottom: 5rem;
          border-bottom: 1px solid $translucent-grey;
        }

        @include respond-to(phone-only) {
          &:not(:first-child) {
            padding-top: 0;
          }
        }
      }

      /* ------------------------------- */
      // image on every row
      /* ------------------------------- */
      &-image {
        width: 20rem;
        height: 15rem;
        object-fit: cover;

        @include respond-to(phone-only) {
          width: 100%;
          height: 20rem;
        }
        @include respond-to(desktop-up) {
          width: 40rem;
          height: 30rem;
        }

        &-div {
          user-select: none;
          padding: 2rem;
          @include respond-to(phone-only) {
            padding: 0;
            margin-bottom: 1rem;
          }
        }
      }
      /* ------------------------------- */
      // content on the right
      /* ------------------------------- */
      &-content {
        width: 100%;
        padding: 2rem;

        @include respond-to(phone-only) {
          padding: 0;
        }

        // the header title e.g. 15ft wooden cargo
        &-header {
          font-size: 2.5rem;
          font-family: $font-roboto;
          font-weight: bolder;
          color: $primary-color-4;
          // width: 65%;
          padding-right: 1rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          // display: inline-block;

          @include respond-to(phone-only) {
            font-size: 2rem;
          }

          // the grand total price at the bottom
          &-price {
            font-size: 2.5rem;
            font-family: $font-roboto;
            font-weight: bolder;
            padding-right: 1.5rem;
            margin-bottom: 0.5rem;
            color: $primary-color-4;
            @include respond-to(phone-only) {
              font-size: 1.8rem;
            }

            // the prediscount on the top
            &--prediscount {
              font-size: 1.8rem;
              font-family: $font-roboto;
              padding-right: 1.5rem;
              font-weight: bolder;
              @include respond-to(phone-only) {
                font-size: 1.5rem;
              }
            }
          }
        }

        // the subheader title e.g. HINO 300 Series model name or Insurance
        &-subheader {
          font-size: 1.7rem;
          color: rgba(68, 68, 68, 0.678);
          // padding-left: 1.5rem;
          font-family: $font-firesans;

          @include respond-to(phone-only) {
            font-size: 1.3rem;
          }

          &--discount {
            color: black;
            // font-weight: bolder;
          }

          &--totalroadprice {
            font-size: 2.2rem;
            color: black;
            // padding-left: 1.5rem;
            font-family: $font-firesans;
            @include respond-to(phone-only) {
              font-size: 1.7rem;
            }
          }

          &-price {
            padding-right: 1.5rem;

            // the prediscount price at bottom
            &--prediscount {
              font-size: 1.7rem;
              font-weight: bolder;
              padding-right: 1.5rem;
              @include respond-to(phone-only) {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }

    // the collapsible panels
    &-panel {
      & .ant-collapse-header {
        color: $primary-color-3 !important;

        @include respond-to(phone-only) {
          padding: 0.5rem 0.5rem 0.5rem 4rem !important;
        }
      }

      & .ant-collapse-content-box {
        padding-top: 0 !important;
        padding-left: 4rem !important;
      }

      &--modeldetails {
        & .ant-collapse-header {
          padding: 0.5rem 0 0 0 !important;

          color: $link-blue !important;
        }
      }

      // another panel to show model specs
      &-specs {
        &-row {
          display: flex;
          align-items: center;
          &:hover {
            background: rgba($primary-color-4, 0.15);
            cursor: default;
          }
        }
        &-title {
          font-family: $font-firesans;
          color: $primary-color-4;
          padding-right: 0.5rem;
        }
        &-value {
          color: $secondary-color-2;
          font-family: $font-ubuntu;
        }
      }
    }

    // highlight the model name
    &-highlight {
      &-model {
        font-family: $font-firesans;
        color: $primary-color-4;
      }
    }

    // small title further splitting the categories
    &-smalltitle {
      font-size: 1.4rem;
      color: $secondary-color-3;
      margin-bottom: 0.5rem;
      font-family: $font-ubuntu;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    // subtotal on every last
    &-subtotal {
      &-outerdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $section-grey;
        border-top: 1px solid $translucent-grey;
        border-bottom: 1px solid $translucent-grey;
      }

      &-text {
        color: black;
        font-size: 1.6rem;
        font-family: $font-opensans;
      }
      font-size: 1.7rem;
      // border-top: 1px solid black;
      padding-left: 2rem;
      font-weight: bolder;
    }

    // The dropdown to show more options button
    &-more {
      display: flex;
      justify-content: flex-end;
      margin-right: 3.5rem;
      @include respond-to(phone-only) {
        margin-right: 0.5rem;
      }

      &-icon {
        &-div {
          cursor: pointer;
          &:hover {
            & .sales__overview-more-icon {
              transition: all 0.5s ease;
              background: rgba($primary-color-4, 0.15);
              color: white;
            }
          }
        }
      }
    }

    &-btn {
      &--another {
        margin-bottom: 1rem;
        margin-top: 3rem;
        padding-bottom: 3rem !important;
        padding-top: 1rem !important;
      }

      &--allorders {
        padding-bottom: 3rem !important;
        padding-top: 1rem !important;
      }
    }
  }
}
