.mobileservice {
  &__table {
    &-div {
      overflow-y: auto;
      overflow-x: hidden;
      &--empty {
        padding-right: 1.5rem;
        padding-left: 1rem;
        padding-top: 1rem;
      }
    }
  }
  &__row {
    &-div {
      font-size: 1.2rem;
      border: 1px solid white;
      border-radius: 1rem;
      background: #12244d;
      padding: 0.5rem;
      margin-bottom: 2rem;

      &-parent {
        position: relative;
      }
    }

    &-number {
      position: absolute;
      background: rgb(59, 98, 150);
      width: 2rem;
      height: 2rem;
      border: 1px solid white;
      top: -1rem;
      left: -1rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 1rem;
      line-height: normal;
      font-family: $font-firesans;
    }
  }

  &__form {
    &-row {
      display: flex;
      align-items: center;
      width: calc(100% - 2rem) !important;

      &-label {
        width: 3.5rem;
        margin-right: 0.5rem;
      }
    }

    &-item {
      width: 100% !important;
    }
  }

  &__button {
    &-add {
      cursor: pointer;
      user-select: none;
      font-size: 1.2rem !important;
      // height: 2.5rem !important;
      // padding-top: 0 !important;
      padding: 0.3rem 1rem 0.3rem 1rem !important;
      // padding-bottom: 0 !important;
      border: 1px solid white !important;
      // background: $secondary-color-1 !important;

      &:hover {
        background: rgb(61, 62, 70);
      }

      &:active {
        background: none;
      }
    }

    &-delete {
      position: absolute;
      background: $soft-red;
      right: -13px;
      top: 50%;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid white;
      display: grid;
      place-items: center;
      transform: translateY(-50%);

      &:active {
        background: #c46c6c;
      }
    }
  }

  &__input {
    width: 100% !important;

    & .ant-select-selector {
      width: 100% !important;
    }

    & .ant-select-selection-placeholder {
      line-height: 23px !important;
    }
  }

  &__modal {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 2rem 0 2rem;
    }
    & .ant-modal-content {
      @include shadow-func(1px, 1px, 8px, 5px, rgba(255, 255, 255, 0.493));
    }
    & .ant-modal-close-x {
      color: white;
    }
    & .ant-modal-header {
      background: $soft-red;
      & .ant-modal-title {
        color: white !important;
      }
    }

    & .ant-modal-body {
      position: relative !important;
      background: $dark-blue-2;
      color: white;
      padding: 0;
    }

    &-body {
      overflow-x: hidden;
      overflow-y: auto;
      min-height: 17rem;
      max-height: 100vh;
      padding: 2rem;
    }

    & .ant-modal-footer {
      background: $dark-blue-2;
      & .ant-btn {
        background: none;
        color: white;
      }
      & .ant-btn-primary {
        background: $soft-red;
      }
    }
  }

  /* ==================== */
  // the bottom part showing how many tasks going on
  /* ==================== */

  &__task {
    &-icon {
      font-size: 4rem;
      margin-right: 1rem;
    }
    &-innerdiv {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      font-size: 2.5rem;
      margin-left: 0.5rem;
    }

    &-button {
      background: rgb(26, 42, 73);
      display: grid;
      place-items: center;
      height: 12rem;
      margin-bottom: 1rem;
      border: 1px solid white;
      border-radius: 1rem;
      margin-top: 1rem;

      &:active {
        background: rgb(35, 54, 92);
      }
    }
  }

  &__service {
    &-div {
      position: relative;
      border: 1px solid white;
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      background: rgb(32, 49, 92);
    }

    &-task {
      display: flex;
      align-items: center;
    }

    &-index {
      position: absolute;
      background: rgb(63, 131, 184);
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      left: -8px;
      top: -10px;
      border-radius: 50%;
      font-size: 1rem;
      border: 1px solid white;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-label {
      display: inline-block;
      font-family: $font-bebasneue;
      width: 7rem;
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.7);
    }

    &-content {
      font-family: $font-firesans;
      font-size: 1.2rem;

      &--desc {
        // margin-left: 2rem;
        word-break: break-all;
        flex-wrap: wrap;
        width: calc(100% - 7rem);
        max-height: 4rem;
        padding-right: 0.2rem;
        overflow-y: auto;
        @include customScrollbar(0.3rem, 0.3rem, 1rem, white);
      }
    }

    &-clock {
      display: flex;
      align-items: center;
      & .fa-user-clock {
        margin-right: 0.5rem;
      }

      &-hours {
        font-size: 1.2rem;
        font-family: $font-bebasneue;
      }
    }

    &-description {
      display: flex;
      align-items: flex-start;
    }
  }
}
