.layout {
  /* =============================== */
  // The inner layout holding the content
  /* =============================== */
  &__inner {
    background: white !important;
  }

  /* =============================== */
  // The content
  /* =============================== */
  &__content {
    margin: 0;
    overflow-y: auto;
    min-height: calc(100vh - 7.9rem) !important;
  }
  /* =============================== */
  // The sidebar div
  /* =============================== */
  &__sider {
    @include respond-to(mobile) {
      display: none;
    }
  }
  &__sider {
    @include respond-to(tablet) {
      display: none;
    }
  }
}
