.sales {
  &__outerdiv {
    padding: 1rem;
  }

  /* =================================== */
  // the 3 main sections
  &__section {
    padding: 2rem;
    margin: 1rem 0;
    background: #dde2eb4b;

    &-header {
      font-size: 2.5rem;
      font-weight: 500;
      font-family: $font-ubuntu;
      padding-bottom: 1rem;
      border-bottom: 1px solid $translucent-grey;
      margin-bottom: 2rem;
      text-align: center;
    }

    &-desc {
      color: $secondary-color-2;
      margin-bottom: 1rem;

      // disabled description
      &--disabled {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &-result {
      color: $primary-color-3;
      font-family: $font-ubuntu;
      font-weight: bolder;
    }

    // the body of the sales section
    &-body {
      // in disabled mode
      &--disabled {
        opacity: 0.5;
      }
    }
  }

  /* ===================== */
  // Loading component
  /* ===================== */
  &__loading {
    &_div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  /* =================================== */
  // Length section
  &__length {
    /* ------------------*/
    // div wrapping cards
    &-div {
      display: flex;
      & > .active {
        // if the card is in active state
        background-image: linear-gradient(to right bottom, $primary-color-4, $primary-color-4);
        transform: translateY(0rem);
        border: 2px solid white;
        // pointer-events: none;
        @include shadow-func(0rem, 0.15rem, 0.4rem, 0.1rem, rgba(44, 43, 43, 0.336));

        &:hover {
          transition: none;
          transform: translateY(0rem);
          @include shadow-func(0rem, 0.15rem, 0.4rem, 0.1rem, rgba(44, 43, 43, 0.336));
          background-position: left top;
          border: 2px solid white;
        }
      }
    }

    /* --------------------*/
    // vehicle length card
    &-card {
      position: relative;
      transition: all 0.3s ease;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid $secondary-color-3;
      padding: 3rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-size: 200% auto;
      background-image: linear-gradient(to right bottom, $primary-color-2 50%, $primary-color-4);
      @include shadow-func(0rem, 0.3rem, 0.7rem, 0.2rem, rgba(44, 43, 43, 0.336));
      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        transition: all 0.3s ease;
        transform: translateY(-0.5rem);
        border: 2px solid $tertiary-color-2;
        @include shadow-func(-0.2rem, 0.8rem, 0.7rem, 0.2rem, rgba(44, 43, 43, 0.336));
        background-position: right center;
      }
      &:active {
        transition: none;
        transform: translateY(0rem);
        background-image: linear-gradient(to right bottom, $primary-color-1 5%, $primary-color-4);
        @include shadow-func(0rem, 0.2rem, 0.7rem, 0.2rem, rgba(44, 43, 43, 0.336));
        background-position: 100% 100%;
        background-size: 2000%;
        border: 2px solid white;
      }
    }
  }

  /* =================================== */
  // Body section
  &__body {
    /* ------------- */
    // the div of the body section containing cards
    &-div {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      grid-auto-rows: 3fr;
      justify-items: center;
      grid-gap: 2rem;
    }
  }

  /* ================================ */
  // overlay on length card
  &__overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 0.5rem;
    z-index: 100;

    & > .fa-check-circle {
      color: rgb(18, 233, 18);
      margin: 0.5rem;
    }

    & > .fa-eye {
      padding: 1rem;
      margin: 1rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      border: 2px solid white;
    }
  }

  /* =========================== */
  // brand section
  &__brand {
    /* ------------------------ */
    &-toggle {
      // the accordion from bootstrap
      background: $primary-color-3 !important;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      padding: 1rem 2rem !important;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      &:hover {
        transition: all 0.5 ease;
        background: $primary-color-4 !important;
      }
    }
    /* ------------------------ */
    // logo inside the clickable accordions
    &-logo {
      margin-left: 5rem;
      background: white;
      padding: 0.5rem;
    }
    /* ------------------------- */
    // further into the catalog of vehicles provided by different brands
    &-makes {
      // the div
      &-div {
        border: 1px solid $translucent-grey;
        height: 50rem;
        display: flex;
      }

      /* -------------- */
      // the picker for user to choose which vehicle to preview on the left
      &-picker {
        width: 40rem;
        height: 100%;
        border-right: 1px solid $translucent-grey;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: $secondary-color-3 $translucent-grey;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: $secondary-color-3;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $secondary-color-2;
        }

        /* targeting the active class */
        & > .active {
          transition: all 0.5s ease;
          background: $primary-color-1 !important;

          &:hover {
            box-shadow: none;
            background: $primary-color-1 !important;
          }
        }
      }
      /* -------------- */
      // the viewer for user to choose which vehicle to view on the right
      &-viewer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: $primary-color-4 $translucent-grey;
        scrollbar-width: thin;
        // change the look of the scrollbar
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: $primary-color-4;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color-2;
        }
      }
    }
  }

  /* ======================================= */
  // general card
  &__card {
    /* ------------------------------------ */
    // card for the picker on the left column
    &-picker {
      position: relative;
      width: auto !important;
      margin: 1rem;
      color: white;
      background: $primary-color-2 !important;
      padding: 0.5rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        transition: all 0.5s ease;
        background: $primary-color-1 !important;
        @include shadow-func(0rem, 0.3rem, 0.7rem, 0.2rem, rgba(34, 33, 33, 0.534));
      }
      // the body wrapping the title
      &-body {
        padding: 1rem 0 0 0 !important;
      }
      // title of the card picker content
      &-title {
        text-align: center;
        font-family: $font-opensans !important;
        font-weight: 600 !important;
      }
    }

    /* ------------------------------------ */
    //  the card on the viewer side
    &-viewer {
      width: auto !important;
      margin: 3rem 10rem 3rem 10rem;
    }
  }

  /* ========================= */
  // when nothing is selected
  &__nothing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $translucent-grey;
    background: #dde2eba8;

    &-innerdiv {
      padding: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 1rem;
      color: $secondary-color-3;
      border: 2px solid $tertiary-color-1;
      background: #e7e7e7bd;

      & > .fa-truck {
        color: $secondary-color-3;
        font-size: 5rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__dashboard {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
  }
}
