.sales {
  /* =================== */
  // skeleton for loading
  /* =================== */
  &__skeleton {
    width: 100% !important;
    padding: 0.5rem 1rem;
  }

  // div wrapping the steps and the content
  &__innerdiv {
    display: flex;
  }

  /* =================================== */
  // the 3 main sections
  &__section {
    padding: 2rem;
    margin: 1rem 0;
    width: 100%;
    // background: #dde2eb4b;

    &-header {
      font-size: 3rem;
      font-family: $font-bebasneue;
      text-align: center;
    }

    // the innerdiv wrapping the description on the left and choices on the right
    &-innerdiv {
      display: flex;
    }

    // the blueprint image
    &-img {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      width: 40rem;
      height: 30rem;
      object-fit: cover;
      &-unavailabletext {
        color: rgba(0, 0, 0, 0.479);
        font-family: $font-firesans;
        font-size: 1.3rem;
      }
    }

    // the description box
    &-desc {
      color: $secondary-color-2;
      margin-bottom: 1rem;
      margin-right: 2rem;
      width: 45rem;
    }

    &-result {
      color: $primary-color-3;
      font-family: $font-ubuntu;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }

  /* ============================ */
  // The select area on the right
  /* ============================ */
  &__selectarea {
    /* ---------------- */
    // most outerdiv
    /* ---------------- */
    &-outerdiv {
      display: flex;
      flex-direction: column;
      width: 60rem;
      border-radius: 5px;
    }

    /* --------------------- */
    // innerdiv
    /* --------------------- */
    &-innerdiv {
      padding: 2rem 2rem 5rem 2rem;
      border-radius: 5px;
      background: rgba(233, 234, 240, 0.219);
    }

    /* ---------------- */
    // display grid div
    /* ---------------- */
    &-div {
      margin-top: 2rem;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      grid-auto-rows: 3fr;
      justify-items: center;
      grid-gap: 2rem;

      /* --------------------- */
      // Active selected buttons
      /* --------------------- */
      & .active {
        // if the card is in active state
        border: 1px solid $primary-color-2;
        background: #fef9f6;
        // if card is active, when hover, shouldnt have any changes
        &:hover {
          border: 1px solid $primary-color-2;
          background: #fef9f6;
        }
      }
    }

    /* --------------------*/
    // Small select buttons
    /* --------------------*/
    &-button {
      cursor: pointer;
      transition: all 0.3s ease;
      user-select: none;
      text-align: center;
      text-transform: capitalize;
      white-space: normal;
      border-radius: 2px;
      background: white;
      width: 100%;
      padding: 1rem 1rem;
      border: 1px solid $translucent-grey;

      &:hover {
        background: rgba(230, 230, 230, 0.295);
      }
      &:focus {
        background: blue;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }

      /* -------------------------- */
      // the skeleton of the buttons
      /* -------------------------- */
      &-skeleton {
        width: 100% !important;
      }
    }

    /* ------------------------------------------- */
    // details/ info card
    // card that shows when user selected an option
    /* ------------------------------------------- */
    &-card {
      width: 100% !important;
      margin-bottom: 2rem !important;
      & .ant-card-head {
        font-family: $font-firesans;
        color: rgba(0, 0, 0, 0.534);
        background: rgba(187, 194, 212, 0.308) !important;
      }

      /* each row of the details within the card*/
      &-row {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        // left part of the row
        &-left {
          width: 10rem;
          font-family: $font-firesans;
          color: rgba(0, 0, 0, 0.514);
        }

        /* right part of the row */
        &-right {
          &-title {
            text-transform: capitalize;
          }
        }
      }

      /* ------------- */
      // price in the card
      /* ------------- */
      &-price {
        font-size: 1.5rem;
        font-weight: bolder;
        color: $primary-color-4;
        font-family: $font-opensans;
      }
    }
  }

  /* ===================== */
  // Loading component
  /* ===================== */
  &__loading {
    &_div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  /* =================================== */
  // Length section
  /* =================================== */
  &__length {
    /* ------------------*/
    // outerdiv wrapping everything including cards
    /* ------------------*/
    &-outerdiv {
      display: flex;
      flex-direction: column;
      width: 60rem;
      border-radius: 5px;

      /* --------------------- */
      // Active length cards
      /* --------------------- */
      & .active {
        // if the card is in active state
        border: 1px solid $primary-color-2;
        background: #fef9f6;
        // if card is active, when hover, shouldnt have any changes
        &:hover {
          border: 1px solid $primary-color-2;
          background: #fef9f6;
        }
      }
    }
    /* ------------------------------------------ */
    // the innerdiv wrapping all the small buttons
    /* ------------------------------------------ */
    &-innerdiv {
      padding: 2rem 2rem 5rem 2rem;
      border-radius: 5px;
      background: rgba(233, 234, 240, 0.219);
    }

    // The MCV, LCV, HCV
    &-category {
      font-family: $font-opensans;
      color: rgba(0, 0, 0, 0.623) !important;
    }

    /* --------------------*/
    // body length card
    /* --------------------*/
    &-card {
      transition: all 0.3s ease;
      position: relative;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 2px;
      background: white;
      text-align: center;
      padding: 1rem 5rem;
      margin-right: 1rem;
      user-select: none;
      border: 1px solid $translucent-grey;
      &:hover {
        background: rgba(230, 230, 230, 0.295);
      }
      &:focus {
        background: blue;
      }
    }

    /* ------------------------- */
    // The buttons within the length section
    /* ------------------------- */
    &-btn {
      margin-top: 2rem;
      padding: 0.5rem 2.5rem !important;

      /* --------------------------- */
      // the div wrapping the button
      /* --------------------------- */
      &-div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  /* =================================== */
  // Body section
  /* =================================== */
  &__body {
    /* --------------------------------------------- */
    // the div of the body section containing cards
    /* --------------------------------------------- */

    &-div {
      margin-top: 2rem;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      grid-auto-rows: 3fr;
      justify-items: center;
      grid-gap: 2rem;

      // display: grid;
      // grid-template-rows: auto;
      // grid-template-columns: repeat(3, 1fr);
      // justify-content: center;
      // grid-auto-rows: 3fr;
      // grid-gap: 0.5rem;
    }

    /* --------------------------------------------- */
    // the div to ask user to select to preview images
    /* --------------------------------------------- */
    &-preview {
      border: 1px solid $translucent-grey;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      width: 40rem;
      height: 30rem;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $section-grey;

      &-title {
        font-family: $font-firesans;
      }

      &-icon {
        text-align: center;
        font-size: 10rem;
        color: rgba($secondary-color-3, 0.7);
      }
    }

    /* ------------------------------------------ */
    // the details when user clicks on a body
    /* ------------------------------------------ */
    &-details {
      // the most outerdiv of the details
      &-outerdiv {
        margin-top: 1rem;
        background: white;
        padding: 1rem 2rem;
        border: 1px solid $translucent-grey;
      }
      &-title {
        font-family: $font-opensans;
        // font-size: 2rem !important;
        color: rgba(0, 0, 0, 0.397) !important;
      }

      // the description for accessory
      &-accdesc {
        color: rgba(0, 0, 0, 0.397);
        font-family: $font-firesans;
      }
    }

    &-btn {
      &-addtocart {
        display: flex;
        padding-bottom: 1rem;
        justify-content: flex-end;
      }
    }
  }

  /* ================================ */
  // overlay on length card
  &__overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 0.5rem;
    z-index: 100;

    & > .fa-check-circle {
      color: rgb(18, 233, 18);
      margin: 0.5rem;
    }

    & > .fa-eye {
      padding: 1rem;
      margin: 1rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      border: 2px solid white;
    }
  }

  /* ======================================= */
  // general card
  &__card {
    /* ------------------------------------ */
    // card for the picker on the left column
    &-picker {
      position: relative;
      width: auto !important;
      margin: 1rem;
      color: white;
      background: $primary-color-2 !important;
      padding: 0.5rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        transition: all 0.5s ease;
        background: $primary-color-1 !important;
        @include shadow-func(0rem, 0.3rem, 0.7rem, 0.2rem, rgba(34, 33, 33, 0.534));
      }
      // the body wrapping the title
      &-body {
        padding: 1rem 0 0 0 !important;
      }
      // title of the card picker content
      &-title {
        text-align: center;
        font-family: $font-opensans !important;
        font-weight: 600 !important;
      }
    }

    /* ------------------------------------ */
    //  the card on the viewer side
    &-viewer {
      width: auto !important;
      margin: 3rem 10rem 3rem 10rem;
    }

    /* ===================== */
    // dimension tag
    /* ===================== */
    &-tag {
      text-align: center !important;
      display: flex !important;
      align-items: top !important;
      padding-right: 0 !important;
      margin: 0 !important;
      /* ----------------------------------------- */
      /* the tags inside the table accessory column */
      /* ------------------------------------------ */
      &--bodyaccessory {
        width: auto;
        padding-right: 0.3rem !important;
        margin-right: 0.4rem !important;
      }
      /* ---------------------------- */
      // the outerdiv wrapping all tags
      /* ---------------------------- */
      &-outerdiv {
        display: flex;
        flex-wrap: wrap; //let display flex but wrapped to next line
      }

      /* -------------- */
      //  div wrapping tag
      /* -------------- */
      &-div {
        display: flex !important;
        margin-bottom: 0.2rem;
        margin-right: 0.3rem;
      }

      /* --------------- */
      // values of W x H x D
      /* --------------- */
      &-values {
        white-space: normal;
        display: flex;
        padding-right: 0.5rem;
      }
      /* ------------------- */
      // the title: Width, Height, Depth
      /* ------------------- */
      &-title {
        width: 3.6rem;
      }

      &-colon {
        margin-right: 0.3rem;
        margin-left: 0.1rem;
      }
    }
  }

  /* ========================= */
  // when nothing is selected
  &__nothing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $translucent-grey;
    background: #dde2eba8;

    &-innerdiv {
      padding: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 1rem;
      color: $secondary-color-3;
      border: 2px solid $tertiary-color-1;
      background: #e7e7e7bd;

      & > .fa-truck {
        color: $secondary-color-3;
        font-size: 5rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__dashboard {
    display: flex;
    justify-content: flex-end;
    margin-left: 5rem;
    // margin-top: 3rem;
  }

  // The collapsible panels
  &__panel {
    & .ant-collapse-header {
      font-size: 2rem;
      color: white !important;
      background: $primary-color-3 !important;
    }

    // the divider for the series title
    &-divider {
      padding: 0 1rem;

      &-title {
        color: rgba($secondary-color-3, 0.6);
        font-weight: bolder;
      }
    }

    /* ------------------------ */
    &-toggle {
      // the accordion from bootstrap
      background: $primary-color-3 !important;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      padding: 1rem 2rem !important;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      &:hover {
        transition: all 0.5 ease;
        background: $primary-color-4 !important;
      }
    }
    /* ------------------------ */
    // logo inside the clickable accordions
    &-logo {
      margin-left: 5rem;
      background: white;
      padding: 0.5rem;
    }
    /* ------------------------- */
    // further into the catalog of vehicles provided by different brands
    &-makes {
      // the div
      &-div {
        border: 1px solid $translucent-grey;
        height: 50rem;
        display: flex;
      }

      /* -------------- */
      // the picker for user to choose which vehicle to preview on the left
      &-picker {
        width: 40rem;
        height: 100%;
        border-right: 1px solid $translucent-grey;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: $secondary-color-3 $translucent-grey;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: $secondary-color-3;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $secondary-color-2;
        }

        /* targeting the active class */
        & > .active {
          transition: all 0.5s ease;
          background: $primary-color-1 !important;

          &:hover {
            box-shadow: none;
            background: $primary-color-1 !important;
          }
        }
      }
      /* -------------- */
      // the viewer for user to choose which vehicle to view on the right
      &-viewer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: $primary-color-4 $translucent-grey;
        scrollbar-width: thin;
        // change the look of the scrollbar
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: $primary-color-4;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color-2;
        }
      }
    }
  }

  // The steps showing progress
  &__steps {
    &-div {
      margin-top: 10rem;
      position: fixed;
      border: 1px solid $translucent-grey;
      border-radius: 5px;
      padding: 2rem 1rem 0 1rem;
      margin-left: 2rem;
    }

    // the title showing which step user is at
    &-title {
      margin-bottom: 2rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &-content {
      width: 100%;
      display: flex;
      margin-left: 20rem;
      justify-content: center;
    }
  }
}
