.header {
  &__outerdiv {
    border-bottom: 1px solid $translucent-grey;
    margin-bottom: 2rem;
    display: flex;
    padding-bottom: 0.5rem;
    align-items: center;
    h1 {
      font-size: 2.8rem;
      color: white;
      @include respond-to(handhelds) {
        font-size: 1.8rem;
        margin-left: 0.5rem;
      }
    }
  }
}
