.dashboard {
  /* ================= */
  // section
  &__section {
    background: $section-grey;
    padding: 2rem 3rem 2rem 3rem;
    margin-bottom: 2rem;
  }
  /* ==================== */
  // header
  &__header {
    font-family: $ubuntu;
    border-bottom: 1px solid $translucent-grey;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    & > h2 {
      font-size: 2.5rem;
    }
  }

  /* ==================== */
  // the multiple tabs
  &__tab {
    margin-top: 2rem;
  }

  /* ================= */
  // the form
  &__form {
    /* --------------- */
    // each row of the form
    &-row {
      display: flex;
      align-items: center;
    }

    /* -----------------*/
    // the text/title within the form
    &-text {
      width: 13rem;
      margin-right: 2rem;
    }

    /* -----------------*/
    // the input of the form
    &-input {
      width: 10rem;
      margin-left: 2rem;
    }

    /* ------------------ */
    // the button within the form
    &-btn {
      padding: 0.5rem 2rem !important;
      // the div wrapping the button
      &-div {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
