.customcontainer {
  &__div {
    margin: 0 15%;
    // display: flex;

    @include respond-to(tablet-portrait-up) {
      margin: 0 2rem;
    }
    @include respond-to(tablet-landscape-up) {
      margin: 0 2rem;
    }
    @include respond-to(phone-only) {
      margin: 0 1rem;
    }
    @include respond-to(desktop-up) {
      margin: 0 15%;
    }
  }
}
