.customcontainer {
  &__div {
    margin: 0 10%;
    // display: flex;

    @include respond-to(tablet) {
      margin: 0 1rem;
    }
    @include respond-to(mobile) {
      margin: 0 1rem;
    }
    @include respond-to(medium) {
      margin: 0 3rem;
    }
  }
}
