.customcontainer {
  &__div {
    @include respond-to(phone-only) {
      margin: 0 1rem;
    }
    @include respond-to(tablet-portrait-up) {
      margin: 0 2rem;
    }
    @include respond-to(tablet-landscape-up) {
      margin: 0 5rem;
    }
    @include respond-to(desktop-up) {
      margin: 0 10%;
    }
  }
}
