.catalog {
  &__background {
    &-outerdiv {
      min-height: 100vh;
    }

    &-image {
      width: 100vw;
      min-height: 100vh;
      background-color: #ffffff;
      background-image: url('https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/collage/container-5/teaser_1296288429.coreimg.jpeg/1604935457488/volvo-electric-truck-range1.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__outerdiv {
    display: block;
    min-height: 100vh;
    padding-top: 7.6rem; //height of navbar
    @include respond-to($small-phone) {
      padding-top: 5rem; //height of navbar
    }
  }

  &__div {
    position: relative;
    padding: 5rem 1rem 5rem 1rem;

    @include respond-to($small-phone) {
      padding: 2rem 0 2rem 0;
    }

    &-makelist {
      @include respond-to($small-phone) {
        display: none;
      }
      @include respond-to($phone-only) {
        display: none;
      }
      @include respond-to($tablet-landscape-up) {
        display: block;
      }
    }
  }

  // div wrapping the steps and the content
  &__innerdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* ======================= */
  // sections
  /* ======================= */
  &__section {
    /* --------------------- */
    // large 2 col grid for holding the series
    /* --------------------- */
    &-series {
      margin-top: 1rem;
      display: grid;
      grid-gap: 2rem;
      padding: 2rem;

      @include respond-to($small-phone) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
      }

      @include respond-to($phone-only) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
      }

      @include respond-to($tablet-portrait-up) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
      }

      /* ----------------------- */
      // series innerdiv
      /* ----------------------- */
      &-innerdiv {
        border-radius: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        & .ant-empty-description {
          color: white;
        }

        & .ant-empty {
          transform: translateY(-2rem);
          @include respond-to($small-phone) {
            transform: translateY(0);
          }
        }

        @include respond-to($small-phone) {
          min-height: 70vh;
          // padding: 0 0.5rem 1rem 0.5rem;
        }

        @include respond-to($phone-only) {
          min-height: 50rem;
          // padding: 2rem 2rem 0 2rem;
        }

        @include respond-to($tablet-portrait-up) {
          padding: 2rem;
        }
        @include customScrollbar(0.2rem, 0.2rem, 1rem, white, rgba(255, 255, 255, 0.604));

        // center empty icon in the middle
        &--empty {
          align-items: center;
        }
      }

      &-outerdiv {
        height: 100%;
        padding: 2rem;
        overflow-y: hidden;
        position: relative;
        margin-bottom: 2rem;

        @include respond-to($small-phone) {
          padding: 0 0.5rem;
        }
        @include respond-to($phone-only) {
          padding: 0 0.5rem;
        }
        @include respond-to($tablet-portrait-up) {
          padding: 0 2rem 2rem 2rem;
        }
      }
    }
  }
  &__row {
    &-div {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
      transition: all 0.5s ease;
      padding: 0.8rem;
      color: white;
      width: 20rem;

      /* ======================== */
      // Shiny effect
      /* ======================== */

      text-decoration: none;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
      }
      &:hover {
        background: rgba($primary-color-3, 0.25);
        color: #fff;
        &:before {
          transform: skewX(-45deg) translateX(30rem);
          transition: all 0.5s ease-in-out;
        }
      }

      &-parent {
        &:first-child {
          border-top: 1px solid white;
        }
        position: relative;

        & .active {
          background: rgba($primary-color-4, 0.5);
          pointer-events: none;
        }
      }
    }
  }

  /* ============================== */
  // Every grid within the series section
  /* ============================== */
  // &__grid {
  //   width: 100%;
  //   height: 100%;
  //   align-items: center;
  //   justify-content: center;
  //   justify-items: center;

  //   display: grid;
  //   // grid-auto-rows: 20rem; //height of each row
  //   margin-bottom: auto;

  //   @include respond-to($phone-only) {
  //     padding: 0;
  //     grid-gap: 1rem;
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-auto-rows: 30vw; //height of each row
  //   }

  //   @include respond-to($tablet-portrait-up) {
  //     grid-gap: 2rem;
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-auto-rows: 25vw; //height of each row
  //   }
  //   @include respond-to($tablet-landscape-up) {
  //     grid-gap: 2rem;
  //     grid-auto-rows: 18vw; //height of each row
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  //   @include respond-to($desktop-up) {
  //     grid-gap: 2rem;
  //     grid-auto-rows: 14vw; //height of each row
  //   }

  //   @include respond-to($small-phone) {
  //     grid-gap: 1rem;
  //     padding: 0;
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-auto-rows: 30vw; //height of each row
  //   }

  //   /* ============================================ */
  //   // number of columns when the array is odd number and last index
  //   /* ============================================ */
  //   &--full {
  //     @include respond-to($phone-only) {
  //       grid-template-columns: repeat(2, 1fr);
  //     }
  //     @include respond-to($tablet-portrait-up) {
  //       grid-template-columns: repeat(2, 1fr);
  //     }
  //     @include respond-to($tablet-landscape-up) {
  //       grid-template-columns: repeat(4, 1fr);
  //     }
  //   }
  // }

  &__banner {
    width: 100%;
    border: 1px solid $translucent-grey !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    &-image {
      width: 100% !important;
      height: 30rem !important;
      color: white !important;
      background: $primary-color-4 !important;
      @include shadow-func(0, 0.1rem, 0.5rem, 0.1rem, rgba(0, 0, 0, 0.219));

      & .ant-skeleton-image-path {
        fill: rgb(218, 204, 204) !important;
      }
    }
  }

  /* =================================== */
  // the dropdown for series
  /* =================================== */
  &__dropdown {
    &-more {
      z-index: 2;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      font-size: 1.2rem;
      background: white;
      border: 1px solid transparent !important;
      color: black !important;
      margin-bottom: 0.3rem;
      @include shadow-func(0, 0, 0.5rem, 0.2rem, rgba(0, 0, 0, 0.2));
      @include respond-to($small-phone) {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
      }

      &:hover {
        transition: all 0.5s ease;
        border: 1px solid white !important;
        color: white !important;
        background: $primary-color-4;
      }
      &:active {
        transition: all 0.2s ease;
        background: white;
      }

      &--make {
        top: 50%;
        right: 1rem;
        position: absolute;
        transform: translateY(-50%);
      }

      /* ----------------------------------------------- */
      // variation of the dropdown for each make card
      /* ----------------------------------------------- */
      // &--make {
      //   position: absolute;
      //   top: 1rem;
      //   right: 1rem;
      //   z-index: 2;
      //   background: white;
      //   color: $primary-color-4;
      //   border: 2px solid rgba(204, 204, 204, 1);

      //   &:hover {
      //     transition: all 0.5s ease;
      //     border: 1px solid white;
      //     color: white;
      //     background: darken($primary-color-3, 5%);
      //   }
      //   &:active {
      //     transition: none;
      //     background: $primary-color-2;
      //   }
      // }

      &--image {
        position: absolute;
        top: 1rem;
        right: 5rem;
        z-index: 2;
        background: white;
        color: $primary-color-4;
        border: 2px solid rgba(204, 204, 204, 1);

        &:hover {
          transition: all 0.5s ease;
          border: 1px solid white;
          color: white;
          background: darken($primary-color-3, 5%);
        }
        &:active {
          transition: none;
          background: $primary-color-2;
        }
      }

      &--disabled {
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  /* ====================== */
  // Card
  /* ====================== */
  // &__card {
  //   width: 100%;
  //   height: 100%;
  //   position: relative;
  //   z-index: 1;
  //   border: 1px solid rgba(255, 255, 255, 0.452);
  //   overflow: hidden;

  //   &-outerdiv {
  //     width: 100%;
  //     height: 100%;
  //     position: relative;
  //     z-index: 1;
  //   }

  //   /* =========================== */
  //   // the image of the card
  //   /* =========================== */
  //   &-image {
  //     left: 50%;
  //     top: 50%;
  //     position: absolute;
  //     object-fit: cover;
  //     color: white !important;
  //     border-radius: 50%;
  //     z-index: 2;
  //     transform: translate(-50%, -50%);
  //     @include shadow-func(0, 0.1rem, 0.5rem, 0.1rem, rgba(255, 255, 255, 0.219));

  //     &--skeleton {
  //       width: 100% !important;
  //       height: 100% !important;
  //       background: darken($primary-color-4, 6%) !important;
  //     }

  //     & .ant-skeleton-image-svg {
  //       width: 5rem !important;
  //       height: 5rem !important;

  //       @include respond-to($small-phone) {
  //         width: 3rem !important;
  //         height: 3rem !important;
  //       }

  //       @include respond-to($desktop-up) {
  //         width: 7vw !important;
  //         height: 7vh !important;
  //       }
  //     }

  //     & .ant-skeleton-image-path {
  //       fill: rgb(201, 197, 197) !important;
  //     }

  //     // the width and height
  //     @include respond-to($small-phone) {
  //       width: 25vw !important;
  //       height: 25vw !important;
  //     }
  //     @include respond-to($phone-only) {
  //       width: 25vw !important;
  //       height: 25vw !important;
  //     }
  //     @include respond-to($tablet-portrait-up) {
  //       width: 20vw !important;
  //       height: 20vw !important;
  //     }
  //     @include respond-to($tablet-landscape-up) {
  //       width: 15vw !important;
  //       height: 15vw !important;
  //     }
  //     @include respond-to($desktop-up) {
  //       width: 12vw !important;
  //       height: 12vw !important;
  //     }
  //     @include respond-to($big-desktop-up) {
  //       width: 10vw !important;
  //       height: 10vw !important;
  //     }

  //     // blur bg for the image
  //     &-blurbg {
  //       z-index: 1;
  //       position: absolute;
  //       height: 100%;
  //       width: 100%;
  //       top: 0;
  //       left: 0;
  //       /* Add the blur effect */
  //       filter: blur(6px);
  //       -webkit-filter: blur(6px);

  //       /* Center and scale the image nicely */
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       background-size: cover;
  //     }
  //   }
  //   cursor: pointer;
  //   &:hover {
  //     transition: all 0.1s;
  //     @include shadow-func(0, 0.1rem, 1.5rem, 0.8rem, rgba($primary-color-1, 0.5));
  //   }

  //   /* ------------------------ */
  //   // label for make title
  //   /* ------------------------ */
  //   // &-label {
  //   //   position: absolute;
  //   //   color: white;
  //   //   bottom: 1rem;
  //   //   right: -0.8rem;

  //   //   border-left: 0.5rem solid white;
  //   //   border-top-left-radius: 5rem;
  //   //   z-index: 2;
  //   //   padding: 0.5rem 2rem 0.5rem 2.5rem;
  //   //   background: rgba(rgb(181, 21, 21), 0.7);
  //   //   @include shadow-func(0rem, 0rem, 0.5rem, 0.05rem, rgba(255, 255, 255, 0.583));

  //   //   @include respond-to($small-phone) {
  //   //     font-size: 0.8rem;
  //   //     padding: 0.2rem 0.5rem 0.2rem 1.5rem;
  //   //     right: -0.3rem;
  //   //   }
  //   //   @include respond-to($phone-only) {
  //   //     font-size: 1.2rem;
  //   //   }

  //   //   @include respond-to($desktop-up) {
  //   //     font-size: 1.5rem;
  //   //   }
  //   // }

  //   & .ant-carousel {
  //     height: '100%' !important;
  //   }
  // }

  /* =================== */
  // The brand title
  /* =================== */

  &__brand {
    &-title {
      font-family: $font-archivo;
      text-align: center;
      color: white;
      margin-left: 6rem;

      padding: 2rem 0;
      border-radius: 1rem;
      @include shadow-func(0rem, 0rem, 1rem, 0.1rem, rgba(199, 199, 199, 0.583));
      // background: linear-gradient(to right, rgba($primary-color-4, 0.7) 70%, rgba($primary-color-3, 0.4));
      @include glassMorph(rgba($primary-color-4, 0.5), 3px, rgba(75, 27, 27, 0.138), 1rem);

      @include respond-to($small-phone) {
        font-size: 2rem;
        width: 20rem;
        padding: 1rem 0;
        margin-left: 0;
      }
      @include respond-to($phone-only) {
        font-size: 3rem;
        width: 20rem;
        padding: 1rem 0;
        margin-left: 0;
      }

      @include respond-to($tablet-portrait-up) {
        margin-left: 1rem;
        padding: 2rem 0;
        width: 30rem;
        font-size: 4rem;
      }
      @include respond-to($tablet-landscape-up) {
        width: 30rem;
      }
    }
    &-div {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    &-innerdiv {
      display: flex;
      align-items: center;

      @include respond-to($small-phone) {
        justify-content: space-between;
      }
      @include respond-to($phone-only) {
        justify-content: start;
      }
      @include respond-to($tablet-portrait-up) {
        justify-content: start;
      }
      @include respond-to($tablet-landscape-up) {
        justify-content: start;
      }
    }
  }

  /* ==================== */
  // the series title
  /* ==================== */
  &__series {
    &-outerdiv {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-bebasneue;
      border-left: 0.5rem solid $primary-color-2;
      background: white;
      color: $primary-color-4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include respond-to($small-phone) {
        font-size: 2rem;
        padding: 0.1rem 2rem 0.1rem 2rem;
      }
      @include respond-to($phone-only) {
        font-size: 2.5rem;
        padding: 0.5rem 3rem 0.3rem 3rem;
      }
      @include respond-to($tablet-portrait-up) {
        padding: 0.5rem 4rem 0.3rem 4rem;
      }
      @include respond-to($tablet-landscape-up) {
        padding: 0.5rem 4rem 0.3rem 4rem;
        display: inline-block;
        max-width: 25vw;
      }
      @include respond-to($desktop-up) {
        padding: 0.5rem 4rem 0.3rem 4rem;
        max-width: none;
      }

      /* ------------------------------------------------------ */
      // the outerdiv wrapping only series title and the log
      /* ------------------------------------------------------ */
      &-outerdiv {
        display: flex;
        align-items: center;
      }
    }
    &-bgcover {
      border-radius: 1rem !important;
      background-image: radial-gradient(rgba(0, 0, 0, 0.193) 30%, rgb(38, 38, 38));
    }

    &-top {
      /* --------------------------------------------------------- */
      // the top portion div wrapping series title, the log potentially other buttons
      /* --------------------------------------------------------- */
      &-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond-to($small-phone) {
          margin: 0 0.5rem 1.5rem 0.5rem;
        }
        @include respond-to($phone-only) {
          margin: 0 2rem;
        }
        @include respond-to($tablet-portrait-up) {
          margin: 0 2rem;
        }
        @include respond-to($tablet-landscape-up) {
          margin: 0 2rem;
        }
      }
    }

    &-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      &--placeholder {
        height: auto;
      }

      &-div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60rem;
        background: white;
        border-radius: 1rem;
        box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.6);
        &--placeholder {
          padding: 0 5rem;
        }

        @include respond-to($small-phone) {
          margin-right: 0;
        }
        @include respond-to($phone-only) {
          margin-right: 0;
        }
        @include respond-to($tablet-landscape-up) {
          margin-right: 2rem;
        }
        @include respond-to($desktop-up) {
          margin-right: 5rem;
        }
      }
    }

    &-overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 1rem 0 0 1rem;

      @include respond-to($small-phone) {
        width: 100%;

        background: rgba(0, 0, 0, 0.4);
      }
      @include respond-to($phone-only) {
        width: 40%;
        min-width: 30rem;
        background: rgba(0, 0, 0, 0.8);
      }
    }

    &-content {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;
      padding: 2rem;
      word-wrap: break-word;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include customScrollbar();

      @include respond-to($small-phone) {
        width: 100%;
      }
      @include respond-to($phone-only) {
        width: 40%;
        min-width: 30rem;
      }

      & h2 {
        color: white;
        font-weight: bolder;
        font-size: 2.5rem;
        margin: 0;
        font-family: $font-bebasneue;

        @include respond-to($small-phone) {
          display: none;
        }
        @include respond-to($phone-only) {
          display: none;
        }
        @include respond-to($tablet-landscape-up) {
          display: block;
        }
      }

      &-select {
        color: white !important;
        font-weight: bolder !important;
        font-size: 2.5rem !important;
        margin: 0 !important;
        font-family: $font-bebasneue !important;
        width: 100%;

        @include respond-to($small-phone) {
          display: block !important;
        }
        @include respond-to($phone-only) {
          display: block !important;
        }
        @include respond-to($tablet-landscape-up) {
          display: none !important;
        }

        & .ant-select-selector {
          color: white !important;
          background: $form-items-grey !important;
          height: 100% !important;
        }
        & .ant-select-selection-search-input {
          height: 100% !important;
          width: 100% !important;
        }

        & .ant-select-selection-item {
          display: flex;
          align-items: center;
        }
        & .ant-select-arrow {
          color: white !important;
        }

        &
          .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
          .ant-select-selector {
          border-color: rgba(255, 255, 255, 0.618) !important;
        }

        /* ---------------------- */
        // disabled select dropdown styling
        /* ---------------------- */
        &--disabled {
          & .ant-select-selector {
            color: rgb(138, 138, 138) !important;
            background: rgb(47, 47, 48) !important;
            height: 100% !important;
          }
        }
      }

      /* ========================= */
      // the title div
      /* ========================= */
      &-title {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0.5rem 0;
      }

      /* ======================== */
      // the red line
      /* ======================== */
      &-line {
        border-top: 3px solid $soft-red;
      }

      /* ======================== */
      // each row of stats
      /* ======================== */
      &-row {
        display: flex;
        font-size: 1.5rem;
        font-family: $font-firesans;

        &-label {
          padding-left: 1rem;
          background: $soft-red;
          width: 13rem;
          // border-bottom: 1px solid white;
          // border-right: 1px solid white;

          &--price {
            background: white;
            color: $soft-red;
          }
        }

        &-info {
          color: white;
          border-bottom: 1px solid white;
          text-align: center;
          width: calc(100% - 13rem);

          &--price {
            font-weight: bolder;
            font-family: $font-opensans;
          }
        }
      }

      /* =============================== */
      // the go to model button
      /* =============================== */
      &-button {
        cursor: pointer;
        border: 1px solid white;
        padding: 0.5rem 2rem;
        @include sheenEffect(rgba(255, 255, 255, 0.205));
        // margin-bottom: 1rem;
        &:hover {
          background: rgba(255, 255, 255, 0.323);
        }
        &:active {
          background: none;
        }
        &-div {
          display: flex;
          justify-content: flex-end;
          padding-bottom: 1rem;
        }
      }
    }
  }

  // loading / spinner
  &__loading {
    &-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      background: white;
      @include glassMorph(rgba(255, 255, 255, 0), 10px, rgba(0, 0, 0, 0), 2rem);
      @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));

      @include respond-to($small-phone) {
        height: 80vh;
      }
      @include respond-to($phone-only) {
        height: 80vh;
      }
      @include respond-to($tablet-portrait-up) {
        height: 80vh;
      }
      @include respond-to($tablet-landscape-up) {
        height: 100vh;
      }
    }
  }

  /* ========================== */
  // all types of buttons
  /* ========================== */
  &__button {
    &-series {
      display: flex;
      align-items: center;
      padding: 0.5rem 2rem;
      user-select: none;
      color: white;
      font-size: 2rem;
      font-family: $font-pragati;
      cursor: pointer;
      border: 1px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: rgba(255, 255, 255, 0.233);
      background: linear-gradient(to right, rgba(153, 153, 153, 0.85), rgba(197, 197, 197, 0.124));
      @include sheenEffect(rgba(255, 255, 255, 0.205));

      &:hover {
        transition: all 0.5s ease;
        @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));
      }

      &:active {
        transition: all 0.2s ease;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.453);
      }

      @include respond-to($small-phone) {
        margin-left: 1rem;
        font-size: 1.3rem;
      }
      @include respond-to($phone-only) {
        margin-left: 1rem;
      }
      @include respond-to($tablet-portrait-up) {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      &--addmodel {
        margin: 0.5rem 0 0 0;
      }

      &--brand {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        margin: 1rem 0 0 0;
      }
    }

    &-sheen {
      @include sheenEffect(rgba(255, 255, 255, 0.205));
    }

    /* --------------------- */
    // edit and delete buttons for cards
    /* --------------------- */
    &-card {
      &-edit {
        top: 0;
        position: absolute;
        color: white;
      }

      &-delete {
        top: 0;
        position: absolute;
        color: white;
      }
    }

    &-title {
      @include respond-to($tablet-portrait-up) {
        display: flex;
      }
      @include respond-to($tablet-landscape-up) {
        display: none;
      }
      @include respond-to($desktop-up) {
        display: block;
      }
    }
  }

  &__menu {
    padding: 0 !important;
    border: none !important;

    @include shadow-func(0rem, 0.1rem, 0.8rem, 0.1rem, rgba(0, 0, 0, 0.186));

    & li {
      margin: 0 !important;
      outline: none !important;
      min-width: 15rem !important;
      transition: none !important;
      // padding-right: 2rem !important;
      &:hover {
        background: rgba($primary-color-1, 0.15) !important;
        border-right: 3px solid $primary-color-3 !important;
      }
    }
    &-item {
      color: black !important;
      &:hover {
        color: black !important;
      }

      &--danger {
        color: $primary-color-1 !important;
        &:hover {
          color: $primary-color-1 !important;
        }
      }
    }

    /* ------------------------ */
    // outerdiv wrapping menu
    /* ------------------------ */
    &-outerdiv {
      @include shadow-func(0rem, 0.2rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.672));
    }
  }

  &__tabs {
    /* --------------- */
    // div wrapping series title and the settings button
    /* --------------- */
    &-title {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      width: 100% !important;

      @include respond-to($small-phone) {
        font-size: 1.7rem;
      }
    }
    &-outerdiv {
      padding: 1rem !important;
      & .ant-tabs-nav-wrap {
        color: white;
        // padding: 0 3rem !important;
        @include respond-to($small-phone) {
          // padding: 0 1.5rem !important;
        }
      }
      & .ant-tabs-tab {
        user-select: none;
        transition: all 0.5s ease;
        font-size: 2rem !important;
        padding: 1rem 3rem !important;
        text-align: center !important;
        margin: 1rem 0 0 0 !important;
        font-family: $font-bebasneue !important;
        &:hover {
          background: rgba(255, 255, 255, 0.425);
          color: white;
        }
        @include respond-to($small-phone) {
          padding: 0.8rem 1rem 0.8rem 1.5rem !important;
        }
      }
      & .ant-tabs-tab-active {
        color: $primary-color-4 !important;
        background: white !important;
      }

      & .ant-tabs-nav-more {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.693), rgba(255, 255, 255, 0.35)) !important;
      }

      /* -------------------------- */
      // tab but for the outer one, brands
      /* -------------------------- */
      &--brand {
        padding: 0 0.5rem !important;
        color: white !important;
        & .ant-tabs-tab-active {
          color: $primary-color-4 !important;
          background: white !important;
        }
        & > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list .ant-tabs-tab {
          user-select: none;
          transition: all 0.5s ease;
          text-align: center !important;
          margin: 1rem 0 0 0 !important;
          font-size: 3rem !important;
          font-family: $font-bebasneue !important;

          &:hover {
            background: rgba(255, 255, 255, 0.425);
            color: white;
          }
          @include respond-to($small-phone) {
            font-size: 2.5rem !important;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
          }
          @include respond-to($phone-only) {
            font-size: 2.8rem !important;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
          }
          @include respond-to($tablet-portrait-up) {
            font-size: 3rem !important;
            padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
          }
          @include respond-to($tablet-landscape-up) {
            font-size: 3rem !important;
            padding: 0.5rem 1.5rem !important;
            min-width: 10rem !important;
          }
        }

        // & > .ant-tabs-nav > .ant-tabs-nav-wrap {
        //   @include respond-to($small-phone) {
        //     display: flex !important;
        //   }

        //   @include respond-to($phone-only) {
        //     display: flex !important;
        //   }
        //   @include respond-to($tablet-portrait-up) {
        //     flex: none !important;
        //   }
        // }

        & .ant-tabs-tab-btn {
          width: 100% !important;
        }
      }
    }
  }

  &__empty {
    &-series {
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-to($small-phone) {
        min-height: 70vh;
        padding: 0 0.5rem 1rem 0.5rem;
      }

      @include respond-to($phone-only) {
        min-height: 80rem;
        padding: 2rem 2rem 0 2rem;
      }
    }
  }
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.fullcolspan {
  grid-column: 1 / span 2;
}

.glass-shadow {
  @include glassMorph(rgba(237, 237, 237, 0.08), 10px, rgba(230, 230, 230, 0.09), 1.5rem);
  @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));
}
