.catalog {
  &__background {
    &-outerdiv {
      min-height: 100vh;
      @include respond-to(phone-only) {
        // padding-top: 51.58px; //height of navbar
      }
    }

    &-image {
      width: 100vw;
      min-height: 100vh;
      background-color: #ffffff;
      background-image: url('https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/collage/container-5/teaser_1296288429.coreimg.jpeg/1604935457488/volvo-electric-truck-range1.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__outerdiv {
    display: block;
    @include respond-to(phone-only) {
      // padding-top: 51.58px; //height of navbar
    }
  }

  &__div {
    padding: 5rem 1rem 5rem 1rem;

    @include respond-to($small-phone) {
      padding: 2rem 1rem 2rem 1rem;
    }
  }

  // div wrapping the steps and the content
  &__innerdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // padding-bottom: 10%;
  }

  /* ======================= */
  // sections
  /* ======================= */
  &__section {
    /* --------------------- */
    // large 2 col grid for holding the series
    /* --------------------- */
    &-series {
      margin-top: 1rem;
      display: grid;
      grid-gap: 2rem;
      padding: 2rem;

      @include respond-to($small-phone) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
      }
      @include respond-to($phone-only) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
      }

      @include respond-to($tablet-portrait-up) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
      }
      @include respond-to($tablet-landscape-up) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
      }

      &-innerdiv {
        border-radius: 1rem;

        overflow-y: auto;
        overflow-x: hidden;

        @include respond-to($small-phone) {
          max-height: 70vh;
          padding: 0 0.5rem 2rem 0.5rem;
        }

        @include respond-to($phone-only) {
          max-height: 80rem;
          padding: 2rem 2rem 5rem 2rem;
        }
        @include respond-to($tablet-portrait-up) {
          padding: 2rem 2rem 5rem 2rem;
          max-height: 80rem;
        }

        &::-webkit-scrollbar {
          @include respond-to($small-phone) {
            width: 0.2rem !important;
            height: 0.2rem !important;
          }

          @include respond-to($phone-only) {
            width: 0.5rem !important;
            height: 0.5rem !important;
          }
          @include respond-to($tablet-portrait-up) {
            width: 0.5rem !important;
            height: 0.5rem !important;
          }
        }

        &::-webkit-scrollbar-thumb {
          background: white !important;
          border-radius: 1rem !important;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgba(255, 255, 255, 0.678) !important;
        }
      }

      &-outerdiv {
        padding: 2rem;
        overflow-y: hidden;
        position: relative;
        margin-bottom: 2rem;
        @include glassMorph(rgba(237, 237, 237, 0.08), 15px, rgba(230, 230, 230, 0.09), 1.5rem);
        @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));

        @include respond-to($small-phone) {
          padding: 2rem 0.5rem;
        }
        @include respond-to($phone-only) {
          padding: 2rem 0.5rem;
        }
        @include respond-to($tablet-portrait-up) {
          padding: 2rem;
        }
      }
    }
  }

  /* ============================== */
  // Every grid within the series section
  /* ============================== */
  &__grid {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;

    display: grid;
    grid-auto-rows: 20rem; //height of each row
    margin-bottom: auto;

    @include respond-to($phone-only) {
      grid-gap: 1rem;
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 25vh; //height of each row
    }

    @include respond-to($tablet-portrait-up) {
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 20rem; //height of each row
    }
    @include respond-to($tablet-landscape-up) {
      grid-gap: 2rem;
      grid-auto-rows: 18vh; //height of each row
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to($desktop-up) {
      grid-gap: 2rem;
      grid-auto-rows: 28vh; //height of each row
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to($small-phone) {
      grid-gap: 1rem;
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 15vh; //height of each row
    }

    /* ============================================ */
    // number of columns when the array is odd number and last index
    /* ============================================ */
    &--full {
      @include respond-to($phone-only) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to($tablet-portrait-up) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to($tablet-landscape-up) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__banner {
    width: 100%;
    border: 1px solid $translucent-grey !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    &-image {
      width: 100% !important;
      height: 30rem !important;
      color: white !important;
      background: $primary-color-4 !important;
      @include shadow-func(0, 0.1rem, 0.5rem, 0.1rem, rgba(0, 0, 0, 0.219));

      & .ant-skeleton-image-path {
        fill: rgb(218, 204, 204) !important;
      }
    }
  }

  /* ====================== */
  // Card
  /* ====================== */
  &__card {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;

    /* =========================== */
    // the image of the card
    /* =========================== */
    &-image {
      width: 100% !important;
      height: 100% !important;
      color: white !important;
      background: darken($primary-color-4, 6%) !important;
      @include shadow-func(0, 0.1rem, 0.5rem, 0.1rem, rgba(0, 0, 0, 0.219));

      & .ant-skeleton-image-svg {
        width: 5rem !important;
        height: 5rem !important;

        @include respond-to($small-phone) {
          width: 3rem !important;
          height: 3rem !important;
        }

        @include respond-to($desktop-up) {
          width: 7vw !important;
          height: 7vh !important;
        }
      }

      & .ant-skeleton-image-path {
        fill: rgb(201, 197, 197) !important;
      }
    }
    cursor: pointer;
    &:hover {
      transition: all 0.1s;
      @include shadow-func(0, 0.1rem, 1.5rem, 0.8rem, rgba($primary-color-1, 0.5));
    }

    /* ------------------------ */
    // label for make title
    /* ------------------------ */
    &-label {
      position: absolute;
      color: white;
      bottom: 1rem;
      right: -1.5rem;
      font-size: 1.2rem;
      border-left: 0.5rem solid white;
      border-top-left-radius: 5rem;
      z-index: 2;
      padding: 0.5rem 2rem 0.5rem 2.5rem;
      background: rgba(rgb(224, 35, 35), 0.4);

      @include respond-to($phone-only) {
        font-size: 1rem;
      }
      @include respond-to($tablet-portrait-up) {
        font-size: 1.2rem;
      }
      @include respond-to($tablet-landscape-up) {
        font-size: 1.5rem;
      }
      @include respond-to($desktop-up) {
        font-size: 1.5rem;
      }

      @include respond-to($small-phone) {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 2.5rem;
        right: -0.3rem;
      }
    }
  }

  /* =================== */
  // The brand title
  /* =================== */

  &__brand {
    &-title {
      font-size: 5rem;
      font-family: $font-firesans;
      text-align: center;
      color: white;
      margin-left: 6rem;

      padding: 2rem 0;
      position: relative;
      border-radius: 1rem;
      background: rgba($primary-color-4, 0.6);
      backdrop-filter: blur(15px);

      /*  glass morphism */
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1rem;
        z-index: -1;
        background: rgba(75, 12, 12, 0.158);
      }

      @include respond-to($small-phone) {
        font-size: 3rem;
        width: 20rem;
        padding: 1rem 0;
        margin-left: 0;
      }
      @include respond-to($phone-only) {
        font-size: 3rem;
        width: 20rem;
        padding: 1rem 0;
        margin-left: 0;
      }

      @include respond-to($tablet-portrait-up) {
        margin: 0 5rem;
        padding: 2rem 0;
        width: 30rem;
      }
      @include respond-to($tablet-landscape-up) {
        width: 30rem;
      }
    }
    &-div {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  /* ==================== */
  // the series title
  /* ==================== */
  &__series {
    &-title {
      margin-right: auto;
      // margin-left: 2rem;
      margin-bottom: 2rem;
      margin-top: 1.5rem;
      align-self: left;
      display: inline-block;
      font-size: 2.5rem;
      font-family: $font-bebasneue;
      padding: 0.5rem 4rem 0.3rem 4rem;
      border-left: 0.5rem solid $primary-color-2;
      background: white;
      color: $primary-color-4;

      @include respond-to($small-phone) {
        font-size: 2rem;
        padding: 0.1rem 2rem 0.1rem 2rem;
        margin: 0 0 2rem 0.5rem;
      }
    }
  }

  // loading / spinner
  &__loading {
    &-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      background: white;
      @include glassMorph(rgba(255, 255, 255, 0), 20px, rgba(0, 0, 0, 0), 2rem);
      @include shadow-func(0rem, 0rem, 0.7rem, 0.01rem, rgba(255, 255, 255, 0.789));

      @include respond-to($small-phone) {
        height: 80vh;
      }
      @include respond-to($phone-only) {
        height: 80vh;
      }
      @include respond-to($tablet-portrait-up) {
        height: 80vh;
      }
      @include respond-to($tablet-landscape-up) {
        height: 100vh;
      }
    }
  }
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.fullcolspan {
  grid-column: 1 / span 2;
}
