.card {
  border-radius: 0.5rem !important;
  /* =================== */
  // outer div of the card
  &__outerdiv {
    & > .active {
      background: $primary-color-3;
      border: 1rem solid $primary-color-3 !important;
      color: rgb(223, 223, 223);

      &:hover {
        @include shadow-func(0rem, 0rem, 0rem, 0rem, rgba(80, 75, 75, 0.233));
        transform: translateY(0rem);
        background: $primary-color-3;
        border: 1rem solid $primary-color-3 !important;
      }

      // the dimension number and price within card__outerdiv
      & .card__desc-dimension-number {
        color: white;
      }

      & .card__title {
        color: white;
      }
      & .card__price {
        color: white;
      }
    }
  }

  &__div {
    position: relative;
    width: 100%;
    // cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
    border: 1rem solid white !important;
    @include shadow-func(0.1rem, 0.05rem, 0.1rem, 0.1rem, rgba(80, 75, 75, 0.233));
    //  hover and select are dealt in ts
  }

  /* =================== */
  // text box on the right
  &__right {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  /* =================== */
  // row containing image and desc
  &__row {
    width: 100% !important;
    height: 100% !important;
    display: flex;

    @include respond-to(medium) {
      flex-direction: column;
    }
    @include respond-to(tablet) {
      flex-direction: column;
    }
    @include respond-to(mobile) {
      flex-direction: column;
    }
  }

  /* =================== */
  // the img
  &__img {
    cursor: zoom-in;
    height: 20rem;

    @include respond-to(medium) {
      height: 20rem;
    }
    @include respond-to(tablet) {
      height: 14rem;
    }
    @include respond-to(mobile) {
      height: 20rem;
    }
    &:hover {
      // overlay the background on hover
      & > .card__img-button {
        transition: all 0.5s ease;
        background: rgba(0, 0, 0, 0.4);
        // only show the image icon on hover
        & > .fa-images {
          transition: all 0.5s ease;
          opacity: 1;
        }
      }
    }
    // the button within the image
    &-button {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      height: 20rem;
      @include respond-to(tablet) {
        height: 14rem;
      }
      & > .fa-images {
        opacity: 0;
        color: white;
        background: rgba(0, 0, 0, 0.6);
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
        border: 2px solid white;
      }
    }
  }

  /* =================== */
  // the text inside the box on the right
  &__text {
    padding: 1rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* =================== */
  // title of the card
  &__title {
    font-family: $roboto;
    font-weight: 500;
  }

  /* =================== */
  // description of the card
  &__desc {
    font-family: $opensans;
    font-size: 1.25rem;

    /* ------------------- */
    // the dimension part of the description
    &-dimension {
      margin-top: 1rem;
      margin-bottom: 1rem;

      // e.g. 15ft x 10ft x 20ft
      &-number {
        color: $primary-color-4;
        // font-weight: bolder;
      }
    }
  }

  /* =================== */
  // price of the card
  &__price {
    font-family: $roboto;
    font-weight: 900;
    color: $primary-color-3;
    /* ----------- */
    // div wrapping the price
    &-div {
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: space-between;
      border-top: 1px solid $translucent-grey;
      padding-top: 1rem;
      margin-top: auto;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    border-radius: 0.5rem;
    & > .fa-check-circle {
      color: rgb(18, 233, 18);
      padding: 0.5rem;
    }
  }
}
