.draganddrop {
  &__div {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 30rem;
    border: 3px solid transparent;
    padding: 2rem;
  }

  &__highlight {
    border: dashed $primary-color-4 3px;
    background: rgba($primary-color-4, 0.1);
    position: absolute;
    top: -6px;
    bottom: 0;
    left: -5px;
    right: 0;
    z-index: 9999;
    height: 106%;
    width: 101%;
    margin-bottom: 0.5rem;
  }
}
