.body {
  /* ================ */
  // navigation tabs
  /* ================ */
  &__tab {
    &-outerdiv {
      margin-top: 3rem;
      padding-top: $navbar-height;
    }
  }
  /* ===================== */
  // form item
  /* ===================== */
  &__item {
    // overwrite the margin bottom for form items in body
    margin-bottom: 0.5rem !important;
  }
  /* ===================== */
  // dimension tag
  /* ===================== */
  &__tag {
    text-align: center !important;
    display: flex !important;
    align-items: top !important;
    padding-right: 0 !important;
    margin: 0 !important;
    /* ----------------------------------------- */
    /* the tags inside the table accessory column */
    /* ------------------------------------------ */
    &--bodyaccessory {
      width: auto;
      padding-right: 0.3rem !important;
      margin-right: 0.4rem !important;
    }
    /* ---------------------------- */
    // the outerdiv wrapping all tags
    /* ---------------------------- */
    &-outerdiv {
      display: flex;
      flex-wrap: wrap; //let display flex but wrapped to next line
    }

    /* -------------- */
    //  div wrapping tag
    /* -------------- */
    &-div {
      display: flex !important;
      margin-bottom: 0.2rem;
      margin-right: 0.3rem;
    }

    /* --------------- */
    // values of W x H x D
    /* --------------- */
    &-values {
      white-space: normal;
      display: flex;
      padding-right: 0.5rem;
    }
    /* ------------------- */
    // the title: Width, Height, Depth
    /* ------------------- */
    &-title {
      width: 3.6rem;
    }

    &-colon {
      margin-right: 0.3rem;
      margin-left: 0.1rem;
    }
  }

  /* ==================== */
  // The Body table
  /* ==================== */
  // make the text go to next line instead of just overflow hidden and ellipsis
  &__table {
    & .ant-table-cell {
      white-space: normal !important;
    }

    & .ant-table-body {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
        height: 0.5rem !important;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary-color-3 !important;
        border-radius: 1rem !important;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $secondary-color-2 !important;
      }
    }

    /* --------------- */
    // The header
    /* --------------- */
    &-header {
      // for title
      &--title {
        text-transform: capitalize !important;
      }
    }
  }

  /* ======================= */
  // the expand section
  /* ======================= */
  &__expand {
    // outerdiv for the whole expand row
    &-outerdiv {
      display: flex;
      overflow-x: auto;
      padding-bottom: 1rem;
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-color-3;
        border-radius: 6px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primary-color-1;
      }
    }

    /* ----------------------------- */
    // the available text
    /* ----------------------------- */
    &-available {
      color: $primary-color-3;
      font-family: $font-roboto;
    }
    /* ----------------------------- */
    // the div for empty component
    /* ----------------------------- */
    &-empty {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    /* ----------------------------- */
    // card for accessories
    /* ----------------------------- */
    &-card {
      font-size: 1.2rem !important;
      min-width: 25rem;
      max-width: 25rem;
      box-shadow: $bottom-shadow;

      &:not(:last-child) {
        margin-right: 1rem;
      }
      /* the title of the card */
      &-title {
        text-transform: capitalize;
        font-size: 1.4rem;
        font-family: $font-firesans;
        color: $primary-color-4;
        // div of the title
        &-div {
          display: flex;
          justify-content: space-between;
        }
      }

      // the images within the carousel and card
      &-img {
        object-fit: cover !important;
        width: 100%;
        height: 12rem;
      }
      // the body of the card
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 9rem;
      }

      // The categories e.g. price and description within the card
      &-category {
        color: $primary-color-3;
      }
      // The div of description
      &-description {
        display: flex;
        padding: 0.5rem;
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar {
          width: 2.5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary-color-3;
          border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color-1;
        }
        /* ----------------------------- */
        // the right column of description
        /* ------------------------------- */
        &-right {
          height: 4rem;
          overflow-y: auto;
          width: 100%;
          &::-webkit-scrollbar {
            width: 2.5px;
          }
          &::-webkit-scrollbar-thumb {
            background: $primary-color-3;
            border-radius: 6px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: $primary-color-1;
          }
        }
      }
      /* ----------------------------- */
      // The two edit and delete buttons
      /* ----------------------------- */
      &-btn {
        // the whole section wrapping the horizontal line and buttons
        &-section {
          width: 100%;
        }
        // outerdiv for the two  buttons
        &-div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 1rem;
          border-top: 1px solid rgba($translucent-grey, 0.3);
        }
        // the edit link button
        &-edit {
          margin-right: 1rem;
          color: #1890ff !important;
          &:hover {
            color: darken(#1890ff, 10%) !important;
          }
          &:active {
            transition: none;
            color: #1890ff !important;
          }
        }
      }
      /* ============================ */
      // the body within the card
      /* ============================ */
      & .ant-card-body {
        display: flex;
        // height: 19.5rem;
        flex-direction: column;
        position: relative;
        padding: 0.5rem 0.5rem 0 0.5rem !important;
      }

      /* ========================== */
      // div of the card title
      /* ========================== */
      & .ant-card-head-title {
        padding: 0.5rem 0 !important;
      }

      &.ant-card-small > .ant-card-head {
        min-height: auto;
      }
    }
  }

  /* ===================== */
  // The select dropdowns
  /* ===================== */
  &__select {
    // target updatebodylength's dropdown
    &-updatebodylength {
      & .ant-select-selection-item {
        width: 10rem !important;
      }
    }
  }

  &__btn {
  }
}
