.body {
  /* ================ */
  // navigation tabs
  /* ================ */
  &__tab {
    &-outerdiv {
      margin-top: 3rem;
    }
  }
  /* ===================== */
  // form item
  /* ===================== */
  &__item {
    // overwrite the margin bottom for form items in body
    margin-bottom: 0.5rem !important;
  }
  /* ===================== */
  // dimension tag
  /* ===================== */
  &__tag {
    text-align: center !important;
    display: flex !important;
    align-items: top !important;
    padding-right: 0 !important;
    margin: 0 !important;
    /* ----------------------------------------- */
    /* the tags inside the table accessory column */
    /* ------------------------------------------ */
    &--bodyaccessory {
      width: auto;
      padding-right: 0.3rem !important;
      margin-right: 0.4rem !important;
    }
    /* ---------------------------- */
    // the outerdiv wrapping all tags
    /* ---------------------------- */
    &-outerdiv {
      display: flex;
      flex-wrap: wrap; //let display flex but wrapped to next line
    }

    /* -------------- */
    //  div wrapping tag
    /* -------------- */
    &-div {
      display: flex !important;
      margin-bottom: 0.2rem;
      margin-right: 0.3rem;
    }

    /* --------------- */
    // values of W x H x D
    /* --------------- */
    &-values {
      white-space: normal;
      display: flex;
      padding-right: 0.5rem;
    }
    /* ------------------- */
    // the title: Width, Height, Depth
    /* ------------------- */
    &-title {
      width: 3.6rem;
    }

    &-colon {
      margin-right: 0.3rem;
      margin-left: 0.1rem;
    }
  }

  /* ==================== */
  // The Body table
  /* ==================== */
  // make the text go to next line instead of just overflow hidden and ellipsis
  &__table {
    .ant-table-cell {
      white-space: normal !important;
    }

    /* --------------- */
    // The header
    /* --------------- */
    &-header {
      // for title
      &--title {
        text-transform: capitalize !important;
      }
    }
  }

  /* ======================= */
  // the expand section
  /* ======================= */
  &__expand {
    // outerdiv for the whole expand row
    &-outerdiv {
      display: flex;
      overflow-x: auto;
      padding-bottom: 1rem;
    }

    /* ----------------------------- */
    // the available text
    /* ----------------------------- */
    &-available {
      color: $primary-color-3;
      font-family: $roboto;
    }
    /* ----------------------------- */
    // the div for empty component
    /* ----------------------------- */
    &-empty {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    /* ----------------------------- */
    // card for accessories
    /* ----------------------------- */
    &-card {
      font-size: 1.2rem !important;
      min-width: 20rem;
      box-shadow: $bottom-shadow;
      height: 17rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &-title {
        text-transform: capitalize;
      }

      // The categories e.g. price and description within the card
      &-category {
        color: $primary-color-3;
      }
      // The div of description
      &-description {
        height: 4rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 2.5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary-color-3;
          border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $primary-color-1;
        }
      }
      /* ----------------------------- */
      // The two edit and delete buttons
      /* ----------------------------- */
      &-btn {
        // the whole section wrapping the horizontal line and buttons
        &-section {
          position: absolute;
          bottom: 0;
          width: 87%;
        }
        // outerdiv for the two  buttons
        &-div {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
        // the edit link button
        &-edit {
          margin-right: 1rem;
          color: #1890ff !important;
          &:hover {
            color: darken(#1890ff, 10%) !important;
          }
          &:active {
            transition: none;
            color: #1890ff !important;
          }
        }
      }
      /* ============================ */
      // the body within the card
      /* ============================ */
      & .ant-card-body {
        display: flex;
        height: 13rem;
        flex-direction: column;
        position: relative;
      }
    }
  }

  /* ===================== */
  // The select dropdowns
  /* ===================== */
  &__select {
    // target updatebodylength's dropdown
    &-updatebodylength {
      & .ant-select-selection-item {
        width: 10rem !important;
      }
    }
  }
}
