.body {
  /* ===================== */
  // form item
  /* ===================== */
  &__item {
    // overwrite the margin bottom for form items in body
    margin-bottom: 0.5rem !important;
  }
  /* ===================== */
  // dimension tag
  /* ===================== */
  &__tag {
    width: 100%;
    text-align: center !important;
    display: flex !important;
    align-items: top !important;
    padding-right: 0 !important;
    margin: 0 !important;

    &--bodyaccessory {
      width: auto;
      padding-right: 0.5rem !important;
      margin-right: 1rem !important;
    }

    /* -------------- */
    //  div wrapping tag
    /* -------------- */
    &-div {
      display: flex !important;
      margin-bottom: 0.2rem;
    }

    /* --------------- */
    // values of W x H x D
    /* --------------- */
    &-values {
      white-space: normal;
      display: flex;
      width: 7rem;
    }
    /* ------------------- */
    // the title: Width, Height, Depth
    /* ------------------- */
    &-title {
      width: 3.6rem;
    }

    &-colon {
      margin-right: 0.3rem;
      margin-left: 0.1rem;
    }
  }
}

/* ===================== */
// Body Accessory
/* ===================== */
.bodyaccessory {
  /* ===================== */
  // Create / update form
  /* ===================== */
  // targetting the selection form and align the tags in the center
  &__form {
    &-item {
      & .ant-select-selection-item {
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important;
      }
    }
  }
  /* ======================================= */
  // dropdown for the width height depth tags
  /* ======================================= */
  &__select {
    display: flex !important;
    align-items: center !important;
    // within the select dropdown
    &-div {
      display: flex;
      justify-content: flex-start !important;
    }
    // the ':'
    &-colon {
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
    // the antd tag component
    &-tag {
      display: flex !important;
      width: 33.33%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    // the numbers
    &-values {
      display: flex;
    }
  }

  /* ======================== */
  // Body accessory column in the table
  /* ======================== */
  &__table {
    &-outerdiv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      height: 70rem;

      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-color-3;
        border-radius: 6px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primary-color-1;
      }
    }
    &-card {
      // background: red !important;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &-title {
        text-transform: capitalize;
      }
    }
  }

  /* ============================== */
  //  Tag
  /* ============================== */
  &__tag {
    &-outerdiv {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
