.mobiletasktable {
  &__div {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    height: 100%;
    width: 100%;
    overflow: auto;
    // padding-top: 1rem;
    border-top: 1px solid white;

    @include respond-to($small-phone) {
      display: block;
    }
    @include respond-to($phone-only) {
      display: block;
    }

    @include respond-to($tablet-portrait-up) {
      display: none;
    }

    &-servicetype {
      font-family: $font-courgette;
      color: rgb(255, 218, 211);
      width: calc(100% - 5rem);
      padding: 0 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.419);
    }

    &-description {
      display: flex;
      align-items: center;
      font-family: $font-pragati;
      padding: 0.1rem 0.5rem;
      word-break: break-all;
      line-height: 15px;

      &-text {
        color: rgba(220, 220, 220, 0.616);
        max-width: calc(100% - 5rem);
        max-height: 1.5rem;
        overflow-y: auto;
      }

      &-icon {
        background: white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-right: 1rem;
      }
      & .fa-clipboard {
        font-size: 1.2rem;
        color: $soft-red;
      }
    }

    &-createdat {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 1rem;
      font-size: 1.2rem;
      margin-left: auto;
      font-family: $font-firesans;
    }

    &-empty {
      display: grid;
      place-items: center;
      height: 100%;
    }

    &-bottom {
      &-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-bay {
        font-size: 1.5rem;
        background: rgb(255, 255, 255);
        font-family: $font-pragati;
        font-weight: bolder;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  &__intake {
    &-row {
      border: 1px solid rgba(178, 195, 225, 0.514);
      border-radius: 1rem;
      margin: 1rem;
      padding: 1rem;
      background: #091a41;
      &-parent {
        position: relative;
      }
      &:hover {
        background: #14295a !important;
        transition: all 0.5s ease;
      }
    }
  }

  &__assignees {
    position: absolute;
    background: $soft-red;
    border-radius: 50%;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid white;
    font-family: $font-pragati !important;
    display: grid;
    place-items: center;
  }

  &__title {
    &-div {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: #df7471;
      font-size: 3rem;
      margin-bottom: 0.3rem;
    }

    &-innerdiv {
      display: flex;
      min-width: calc(100% - 5rem);
      max-width: calc(100% - 5rem);
      padding-left: 2.5rem;
      border-left: 5px solid white;
      border-radius: 5rem 1rem 0rem 0rem;
      border-top: 1px solid rgba(255, 255, 255, 0.796);
      border-right: 1px solid rgba(255, 255, 255, 0.796);
      border-bottom: 1px solid rgba(255, 255, 255, 0.796);
      background-image: linear-gradient(to right, rgb(35, 51, 85) 60%, rgb(64, 89, 126));
      @include shadow-func(0.1rem, 0.2rem, 1.5rem, 0.1rem, rgba(255, 255, 255, 0.796));
    }

    &-regNumber {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      // background: rgb(35, 51, 85);
      font-family: $font-bebasneue !important;
      padding: 0 2rem;
      border-radius: 0.5rem;
    }

    &-status {
      margin-top: 0.7rem;
      font-family: $font-pragati;
      font-size: 1.2rem;
      border: 1px solid grey;
      padding: 0rem 0.5rem;
      border-radius: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 0.5rem;
    }

    &-company {
      display: inline-block;
      // margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-family: $font-pragati;
      // max-width: calc(100% - 5rem);
      overflow: hidden;
      min-width: 10rem;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-image: linear-gradient(to bottom, $form-items-grey, rgba(255, 255, 255, 0.4));
      padding: 0 1rem;
      text-transform: capitalize;
      border: 1px solid rgb(255, 255, 255);
      @include shadow-func(0.1rem, 0.2rem, 1.5rem, 0.05rem, rgba(255, 255, 255, 0.857));

      border-radius: 0rem 0rem 5rem 5rem;
      &-outerdiv {
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__emptyresult {
    &-div {
      display: grid;
      place-items: center;
      text-align: center;
      height: 100%;
      margin-top: -1.5rem;
      // padding-bottom: 5.5rem;
      // margin-top: 15vh;
    }

    &-title {
      font-size: 4.5rem;
      font-family: $font-bowlby;
      color: $soft-red;
      -webkit-text-fill-color: $soft-red; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: white;
    }

    &-text {
      font-family: $font-firesans;
    }

    &-button {
      margin-top: 1rem;
      width: 20rem;
      color: #49b149;
    }
  }
}
