@import './variables.scss';

/* make the customizations */
$theme-colors: (
  'primary': $primary-color-1,
  'secondary': $secondary-color-1,
  'tertiary': $tertiary-color-1,
  'facebook': #3b5998,
  'google': #d84b37 // 'info': tomato,
  // 'danger': teal,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
$font-size-base: 1.5rem;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

// Customize bootstrap's container
.container,
.container-sm,
.container-md {
  @media (min-width: 576px) {
    max-width: 600px;
  }
  @media (min-width: 768px) {
    max-width: 800px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

:disabled {
  cursor: not-allowed;
}

// Bootstrap navbar
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 163, 163);
}
