// Customize bootstrap's container
.container,
.container-sm,
.container-md {
  @media (min-width: 576px) {
    max-width: 600px;
  }
  @media (min-width: 768px) {
    max-width: 800px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

:disabled {
  cursor: not-allowed;
}

// Bootstrap navbar
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 163, 163);
}

/* react simple lighthouse */
// .css-1bqbnod {
//   position: absolute !important;
// }

/* AntD fix icon not align center */
svg {
  vertical-align: baseline !important;
}

/* ===================================== */
/* AntD Components */
/* ===================================== */
.ant-modal {
  animation-duration: 0s !important;
}

.ant-table-thead tr th {
  color: white !important;
  background: $primary-color-2 !important;
  white-space: nowrap;
}

.ant-table-body {
  &::-webkit-scrollbar {
    width: 10px !important;
    height: 5px !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color-2 !important;
    border-radius: 6px !important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color-2 !important;
  }
}

.ant-table-tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// background of header column when hover
.ant-table-thead th.ant-table-column-has-sorters:hover {
  // background: $warning-color-2 !important;
  background: darken($primary-color-2, 5%) !important;
}
// arrow icons when idle
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  color: $primary-color-4 !important;
}

// arrow icons when active
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: white !important;
}

// Search icon on ant table when not hovered
.ant-table-filter-trigger-container-open .ant-table-filter-trigger,
.ant-table-filter-trigger:hover {
  color: white !important;
}

// when background of search icon is unfocused
.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container {
  color: white !important;
  background: $primary-color-4 !important;
}

// background of search icon when hover on column
.ant-table-filter-trigger-container-open,
.ant-table-filter-trigger-container:hover,
.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container:hover {
  color: white !important;
  background: darken($primary-color-4, 5%) !important;
  // border: 1px solid $tertiary-color-2 !important;
}

// change the look of the scrollbar
.ant-table-body {
  &::-webkit-scrollbar {
    width: 5px !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color-3 !important;
    border-radius: 10px !important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-1 !important;
  }
}

// Text will go over to second line
.ant-table-cell {
  white-space: normal !important;
}

.ant-empty-description {
  color: white !important;
}

/* ------------------------- */
// popover
/* ------------------------- */
.ant-popover-inner {
  border: 1px solid white !important;
  background: #152448 !important;
  & .ant-popover-title {
    color: white !important;
  }

  & .ant-popover-message-title {
    color: white !important;
  }
}

.ant-popconfirm {
  max-width: 90% !important;
}

.ant-popover-message {
  word-wrap: break-word;
}

/* ========================================================== */
// React resizable
/* ========================================================== */

/* For column resizable */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 10;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}

.ant-table-filter-trigger-container {
  right: 1rem !important;
  border-radius: 50% !important;
  height: 3rem !important;
  width: 3rem !important;
  margin: auto 0 !important;
}

.ant-table {
  overflow-x: auto;
  overflow-y: hidden;
}

// the scroll effect when modal is opened
.ant-scrolling-effect {
  // 0.5rem is the scrollbar
  width: calc(100vw - 0.5rem) !important;
}

// Select dropdown
.ant-select {
  @include respond-to($small-phone) {
    // fill up the whole page width on mobile devices
    width: 100% !important;
  }
}

.blue-link-btn {
  color: #1890ff !important;
  // border-color: rgb(153, 180, 219) !important;

  &:hover {
    color: lighten(#1890ff, 20%) !important;
  }

  &:active {
    transition: none;
    color: #1890ff !important;
  }
}
.blue-default-btn {
  border-color: #1890ff !important;
  outline-color: #1890ff !important;
  color: #1890ff !important;
  // border-color: rgb(153, 180, 219) !important;

  &:hover {
    color: lighten(#1890ff, 20%) !important;
  }

  &:active {
    transition: none;
    color: #1890ff !important;
  }
}

.custom__scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem !important;
    height: 0.5rem !important;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondary-color-3 !important;
    border-radius: 1rem !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-2 !important;
  }
}

.mobilehide-inline-block {
  @include respond-to($small-phone) {
    display: none !important;
  }
  @include respond-to($phone-only) {
    display: inline-block !important;
  }
}
.mobilehide-block {
  @include respond-to($small-phone) {
    display: none !important;
  }
  @include respond-to($phone-only) {
    display: block !important;
  }
}

.all-uppercase {
  text-transform: uppercase;
}
