@import './mixin.scss';

// Theme colors
$primary-color-1: rgb(219, 9, 44);
$primary-color-2: rgb(201, 26, 56);
$primary-color-3: #af0606;
$primary-color-4: rgb(131, 14, 14);
$secondary-color-1: rgb(44, 45, 46);
$secondary-color-2: rgb(92, 88, 89);
$secondary-color-3: rgb(141, 144, 147);
$tertiary-color-1: rgb(197, 197, 191);
$tertiary-color-2: rgb(230, 230, 223);
$tertiary-color-3: rgb(243, 243, 235);

// Status colors
$warning-color-1: rgb(211, 43, 43);
$warning-color-3: rgba(235, 64, 64, 0.904);
$warning-color-2: rgb(185, 26, 26);

$success-color-2: rgb(38, 228, 31);
$success-color-3: rgba(96, 236, 138, 0.904);
$success-color-1: rgb(31, 167, 72);
$success-color-4: rgba(31, 168, 72, 0.904);

$progress-color-3: rgba(223, 206, 56, 0.904);
$progress-color-2: rgba(223, 184, 56, 0.904);
$progress-color-1: rgba(218, 144, 49, 0.904);

$link-blue: #1890ff;
$link-blue-2: darken(#1890ff, 10%);
$dark-blue: #020024;
$soft-red: #c54747;

$star-rating: rgb(237, 240, 58);

$facebook: #3b5998;
$google: #d84b37;

$translucent-grey: rgba(197, 197, 197, 0.637);
$section-grey: #dde2eb71;
$soonseng-grey: #d6d6d652;
$form-items-grey: #3d3e46;

// shadows
$shadow: 0 0.1rem 0.5rem 0.1rem rgba(black, 0.5);
$bottom-shadow: 0px 0.3rem 0.5rem rgba(black, 0.15);

// font families
$font-ubuntu: 'Ubuntu', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-bebasneue: 'Bebas Neue', sans-serif;
$font-firesans: 'Fira Sans Condensed', sans-serif;
$font-courgette: 'Courgette', sans-serif;
$font-anton: 'Anton', sans-serif;
$font-carterone: 'Carter One', sans-serif;
$font-bowlby: 'Bowlby One SC', sans-serif;
$font-dmsans: 'DM Sans', sans-serif;
$font-archivo: 'Archivo Black', sans-serif;
$font-fugaz: 'Fugaz One', sans-serif;
$font-pragati: 'Pragati Narrow', sans-serif;
$font-abril: 'Abril Fatface', sans-serif;
// z-index
$navbar: 100;

$navbar-height: 106.88px;
