.quotation {
  /* ================ */
  // Button
  /* ================ */
  &__button {
    &-div {
      display: flex;
      justify-content: flex-end;
      margin: 3rem;
      width: 95rem;
    }
  }

  &__section {
    border: 1px solid darken($translucent-grey, 30%);
    width: 95rem;
    padding: 3rem;
    &-outerdiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }

    &-innerdiv {
      padding: 5rem 0;
    }
  }
  &__top {
    &-div {
      display: flex;
      position: relative;
      justify-content: space-between;
      border-bottom: 2px solid black;
      margin: 0 2rem 2rem 2rem;

      &:after {
        position: absolute;
        content: '';
        bottom: -0.9rem;
        width: 100%;
        border-bottom: 5px solid black;
      }
    }

    &-title {
      font-style: italic;
      font-size: 1.8rem;
      font-weight: bolder;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    &-address {
      font-family: $font-roboto;
      font-size: 1.6rem;
      margin-top: 1rem;
    }

    &-contacts {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      justify-content: center;

      &-highlight {
        font-weight: bolder;
        font-size: 1.6rem;
        // font-family: $font-anton;
      }
    }
  }

  &__logo {
    height: 100%;
    width: 12.5rem;
    object-fit: cover;
    border: 1px solid $translucent-grey;
  }

  &__header {
    &-2 {
      font-size: 2.5rem;
      margin-top: 3rem;
      font-weight: bolder;
      text-align: center;
      // font-family: $font-;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: underline;
    }
  }

  &__subheader {
    text-align: center;
    margin-top: 3rem;
  }

  &__content {
    &-div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &-innerdiv {
      width: 70rem;
    }
  }

  /* ================ */
  // The detail of make
  /* ================ */
  &__makedetail {
    &-div {
      display: flex;
      margin-top: 2rem;
      border: 1px solid black;
      padding: 1rem 1rem;
      min-width: 60rem;
      justify-content: space-around;

      &-left {
        margin-right: 2rem;
      }
    }
  }

  /* ============================== */
  //   order list
  /* ============================== */
  &__orderedlist {
    margin-left: 2rem;
    & li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;

      &--chassis {
        font-weight: bolder;
      }
    }
  }

  /* ========================= */
  // The RM on the top beneath header
  /* ========================= */
  &__price {
    &-div {
      min-width: 65rem;
      margin-top: 2rem;
    }
    &-unit {
      text-align: right;
      margin-bottom: 1rem;
      margin-right: 2rem;
    }
  }

  /* ================================= */
  // Subtotal price of model and fees
  /* ================================= */
  &__subtotal {
    &-outerdiv {
      font-weight: bolder;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    &-text {
      padding-left: 2rem;
    }

    &-price {
      border-top: 2px solid black;
      padding-left: 3rem;
    }
  }
  /* ================================= */
  // Subtotal price of model and fees
  /* ================================= */
  &__grandtotal {
    &-outerdiv {
      font-weight: bolder;
      display: flex;
      justify-content: space-between;
    }

    &-price {
      position: relative;
      padding-left: 3rem;
      border-top: 2px solid black;
      border-bottom: 4px solid black;
      border-bottom-style: double;
    }
  }

  /* ================================= */
  // Sales Program
  /* ================================= */
  &__salesprogram {
    &-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 5rem;
    }

    /* ------------------------------ */
    // the after sales programme title
    /* ------------------------------ */
    &-title {
      font-weight: bolder;
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }

    /* ---------------- */
    // the smaller text
    /* ---------------- */
    &-contract {
      font-size: 1.3rem;
    }

    /* ------------------------------ */
    // the table on the right
    /* ------------------------------ */
    &-table {
      & td,
      th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }

      &-left {
        padding: 0 1.5rem !important;
        font-weight: bolder;
      }
      &-right {
        width: 13rem;
      }
    }
  }

  /* ========================== */
  // Accessories
  /* ========================== */
  &__accessorieslist {
    margin-top: 3rem;

    /* ---------------- */
    // the title
    /* ---------------- */
    &-standard {
      font-weight: bolder;
      text-decoration: underline;
    }

    &-img {
      height: 100%;
      width: 17rem;
      object-fit: cover;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__note {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 2rem;
    &-date {
      margin-top: 0.5rem;
      font-weight: bolder;
      font-family: $font-firesans;
    }
  }
}
